.account_all_cover {
  width: 200%; }
  .account_all_cover #login_tab {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  .account_all_cover.signup #login_tab {
    margin-left: -50%; }
  .account_all_cover .account_tab {
    padding: 0px 15px;
    width: 50%;
    float: left;
    overflow: hidden; }
    .account_all_cover .account_tab p {
      text-align: center;
      margin: 0 auto; }
    .account_all_cover .account_tab .account_wrap .login_cover {
      max-width: 650px !important;
      width: 100%;
      border: 1px solid #E4E4E4;
      margin-bottom: 50px !important; }
      .account_all_cover .account_tab .account_wrap .login_cover .txt_gray {
        color: #A0A0A0; }
      .account_all_cover .account_tab .account_wrap .login_cover .login_row {
        padding: 30px 10px;
        max-width: 380px;
        width: 100%;
        margin: 0 auto; }
        .account_all_cover .account_tab .account_wrap .login_cover .login_row .login_forgot_password {
          margin: 0 0 0 -85px;
          color: #137AF6; }
          .account_all_cover .account_tab .account_wrap .login_cover .login_row .login_forgot_password:hover {
            color: #005EE0; }
        .account_all_cover .account_tab .account_wrap .login_cover .login_row .login_remember {
          height: 15px !important; }
        .account_all_cover .account_tab .account_wrap .login_cover .login_row .field_input {
          padding: 6px 10px;
          border: 1px solid #E4E4E4;
          -webkit-transition: none;
          transition: none;
          height: 34px; }
        .account_all_cover .account_tab .account_wrap .login_cover .login_row .btn_long {
          width: 100%;
          margin: 15px 0;
          padding: 0px; }
        .account_all_cover .account_tab .account_wrap .login_cover .login_row label {
          color: #A0A0A0; }
      .account_all_cover .account_tab .account_wrap .login_cover .login_line_item {
        width: 100%;
        margin-bottom: 15px; }
    .account_all_cover .account_tab .account_wrap .login_separator_txt {
      border-top: 1px solid #E4E4E4; }
      .account_all_cover .account_tab .account_wrap .login_separator_txt div {
        background: white;
        width: 50px;
        font-size: 13px;
        margin-top: -7px;
        text-align: center;
        position: relative;
        left: 50%;
        margin-left: -25px;
        color: #A0A0A0;
        font-family: quicksand_bold; }
    .account_all_cover .account_tab .account_wrap .login_footer {
      background: #F9F9F9;
      padding: 15px;
      text-align: center;
      color: #A0A0A0; }
    .account_all_cover .account_tab .account_wrap .txt_link {
      font-weight: bold; }
      .account_all_cover .account_tab .account_wrap .txt_link:hover {
        color: black; }

.my_campaign .goal_meter_title {
  margin-bottom: 0px !important; }

.my_campaign .rewards_wrap {
  border: 1px solid #F9F9F9;
  padding: 30px 50px 75px; }
  .my_campaign .rewards_wrap .rewards_data {
    overflow: auto;
    border-bottom: 1px solid #E4E4E4; }
    .my_campaign .rewards_wrap .rewards_data.title {
      border-top: 1px solid #F9F9F9;
      border-bottom: 1px solid #F9F9F9;
      padding: 5px 0 !important; }
      .my_campaign .rewards_wrap .rewards_data.title div {
        min-height: 10px !important; }
    .my_campaign .rewards_wrap .rewards_data .reward_data_1 {
      width: 25%; }
    .my_campaign .rewards_wrap .rewards_data .reward_data_2 {
      width: 40%; }
    .my_campaign .rewards_wrap .rewards_data .reward_data_3 {
      width: 15%; }
    .my_campaign .rewards_wrap .rewards_data .reward_data_4 {
      width: 20%; }
    .my_campaign .rewards_wrap .rewards_data .days_left {
      height: 100%;
      background: #958AEB;
      color: white; }
    .my_campaign .rewards_wrap .rewards_data div {
      float: left;
      text-align: center;
      position: relative;
      min-height: 80px; }
      .my_campaign .rewards_wrap .rewards_data div img {
        width: 120px;
        float: left; }
    .my_campaign .rewards_wrap .rewards_data .align_mid {
      display: block;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      position: absolute; }

@media (max-width: 767px) {
  .my_campaign {
    padding: 0 30px; }
    .my_campaign .rewards_wrap {
      padding: 30px 15px 75px; }
  .rewards_data {
    border-top: 1px solid #ccc;
    margin-top: 20px; }
    .rewards_data.title {
      display: none; }
    .rewards_data .reward_data_2 span {
      left: 0 !important;
      height: auto !important;
      position: relative !important;
      float: left; }
    .rewards_data .reward_data_3 {
      min-height: 30px !important; }
    .rewards_data div {
      width: 100% !important;
      text-align: left !important; }
      .rewards_data div img {
        width: 100% !important;
        float: left !important; } }

/*# sourceMappingURL=account.css.map */
