@charset "UTF-8";
html .txt_head_9 {
  color: #A0A0A0; }

html :not(.goal_meter_cover) > .goal_meter_title {
  background: 0;
  padding: 0; }

html .content_section_side .goal_meter_title {
  padding: 15px 0;
  border: 1px solid #E4E4E4;
  margin: 0;
  clear: both; }

a.learnmore {
  color: #137AF6; }
  a.learnmore:hover {
    color: #005EE0; }
  a.learnmore:active {
    color: #137AF6; }

.product_popup_wrap .product_popup_container {
  background: #F9F9F9;
  padding: 30px 15px;
  max-width: 860px; }
  .product_popup_wrap .product_popup_container .title {
    margin-bottom: 10px; }
  .product_popup_wrap .product_popup_container #buy_product {
    width: 200px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: none; }
  .product_popup_wrap .product_popup_container #buy_product_custom {
    width: 200px;
    position: absolute;
    bottom: 0;
    right: 15px; }
  .product_popup_wrap .product_popup_container .product_item_cover {
    padding: 0px;
    background: none;
    border: none;
    padding: 0px;
    overflow: hidden; }
    .product_popup_wrap .product_popup_container .product_item_cover:hover {
      border: none;
      cursor: default; }
  .product_popup_wrap .product_popup_container img {
    width: 100%; }
  .product_popup_wrap .product_popup_container .hold,
  .product_popup_wrap .product_popup_container .error_msg {
    padding: 6px 0 0;
    height: 38px;
    /*Please change*/
    display: block;
    clear: both;
    color: #A0A0A0; }
  .product_popup_wrap .product_popup_container .item_detail .hold {
    color: #6F6F6F; }

.product_popup_wrap .custom,
.interact_section .custom {
  position: absolute;
  bottom: 58px;
  right: 0;
  margin-top: 24px; }
  .product_popup_wrap .custom .contrib,
  .interact_section .custom .contrib {
    text-transform: uppercase; }
  .product_popup_wrap .custom .min,
  .interact_section .custom .min {
    color: #A0A0A0; }
  .product_popup_wrap .custom .row.center,
  .interact_section .custom .row.center {
    height: 45px; }
  .product_popup_wrap .custom .predefined a,
  .interact_section .custom .predefined a {
    width: 33%;
    text-align: center;
    border-radius: 8px;
    background: #c9c9c9;
    display: block;
    line-height: 32px;
    float: left;
    display: block;
    color: #fff; }
    .product_popup_wrap .custom .predefined a:not(:first-child),
    .interact_section .custom .predefined a:not(:first-child) {
      margin-left: 4px;
      width: calc(33% - 2px); }
    .product_popup_wrap .custom .predefined a:hover,
    .interact_section .custom .predefined a:hover {
      background: #A0A0A0; }
    .product_popup_wrap .custom .predefined a:active,
    .interact_section .custom .predefined a:active {
      background: #6F6F6F; }
  .product_popup_wrap .custom .custom_amount_txt,
  .interact_section .custom .custom_amount_txt {
    height: 45px;
    padding: 10px 15px; }
    .product_popup_wrap .custom .custom_amount_txt:focus,
    .interact_section .custom .custom_amount_txt:focus {
      outline: none;
      border: 2px solid #137AF6; }

.product_popup_wrap .custom {
  position: static; }
  .product_popup_wrap .custom .predefined {
    overflow: hidden;
    margin: 8px 0 12px; }
  .product_popup_wrap .custom .bottom_part {
    font-size: 0;
    white-space: nowrap; }
    .product_popup_wrap .custom .bottom_part.error .error_msg {
      display: block; }
    .product_popup_wrap .custom .bottom_part.error .hold {
      display: none; }
    .product_popup_wrap .custom .bottom_part .error_msg {
      display: none;
      color: #f00; }
    .product_popup_wrap .custom .bottom_part .custom_amount_txt,
    .product_popup_wrap .custom .bottom_part #buy_product_custom {
      width: 50%;
      display: inline-block;
      vertical-align: top;
      position: static; }
    .product_popup_wrap .custom .bottom_part .custom_amount_txt,
    .product_popup_wrap .custom .bottom_part .error_msg {
      width: calc(50% - 16px);
      white-space: normal; }
    .product_popup_wrap .custom .bottom_part #buy_product_custom {
      margin-left: 16px; }

.campaign_title {
  margin: 20px auto 11px; }

.supporter_headline {
  padding-bottom: 24px;
  border-bottom: 1px solid #E4E4E4;
  text-align: center; }

html #global .share_cover {
  white-space: nowrap;
  font-size: 0; }
  html #global .share_cover p {
    text-transform: uppercase; }
  html #global .share_cover .half {
    white-space: nowrap;
    width: 50%;
    vertical-align: top;
    display: inline-block;
    font-size: 0; }
  html #global .share_cover .half.first {
    width: 46%; }
  html #global .share_cover .social_share {
    color: #137AF6;
    background-color: #fff;
    border: 1px solid #137AF6;
    border-radius: 10px;
    display: inline-block;
    width: calc(50% - 23px);
    text-align: center;
    vertical-align: top; }
    html #global .share_cover .social_share [class*=fa-chain] {
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1); }
    html #global .share_cover .social_share i {
      color: #137AF6;
      font-size: 20px;
      width: 18px;
      text-align: left; }
    html #global .share_cover .social_share i,
    html #global .share_cover .social_share span {
      color: #137AF6 !important;
      height: 34px;
      line-height: 34px;
      vertical-align: middle;
      padding: 0;
      letter-spacing: 0 !important; }
    html #global .share_cover .social_share span {
      margin-left: 4px; }
    html #global .share_cover .social_share:not(:first-child) {
      margin-left: 4px; }
    html #global .share_cover .social_share:hover {
      background: #137AF6; }
      html #global .share_cover .social_share:hover i,
      html #global .share_cover .social_share:hover span {
        color: #fff !important; }
    html #global .share_cover .social_share:active {
      background: #005EE0;
      border-color: #005EE0; }
      html #global .share_cover .social_share:active i,
      html #global .share_cover .social_share:active span {
        color: #fff !important; }
  html #global .share_cover .share_label {
    height: 34px;
    line-height: 34px;
    width: 80px;
    color: #137AF6;
    display: inline-block;
    vertical-align: top;
    text-align: left; }
  html #global .share_cover .buttons {
    width: calc(100% - 60px);
    display: inline-block;
    vertical-align: middle; }
  html #global .share_cover .share_cnp {
    padding-left: 20px;
    border-left: 1px solid #E4E4E4;
    color: #a0a0a0; }

html #global .supporters_wrap {
  padding: 0 15px; }

html #global .supporters_wrap ~ .view_more {
  background: #F9F9F9;
  border-bottom: 1px solid #E4E4E4;
  position: relative; }

html #global .supporters_wrap ~ .view_more a {
  padding: 8px 15px;
  display: block;
  text-align: center; }

html #global .supporters_wrap ~ .view_more a::after {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  content: "\f054";
  display: block;
  font-family: FontAwesome; }

html #story_tab .share_cover,
html #supporter_tab .share_cover {
  border: 1px solid #E4E4E4;
  padding: 16px;
  text-align: center;
  margin: 32px 0; }
  html #story_tab .share_cover .buttons,
  html #supporter_tab .share_cover .buttons {
    width: calc(50% - 50px); }
  html #story_tab .share_cover .buttons_2 .social_share,
  html #supporter_tab .share_cover .buttons_2 .social_share {
    border-color: #E4E4E4; }
    html #story_tab .share_cover .buttons_2 .social_share i, html #story_tab .share_cover .buttons_2 .social_share span,
    html #supporter_tab .share_cover .buttons_2 .social_share i,
    html #supporter_tab .share_cover .buttons_2 .social_share span {
      color: #A0A0A0 !important; }
    html #story_tab .share_cover .buttons_2 .social_share:hover,
    html #supporter_tab .share_cover .buttons_2 .social_share:hover {
      background: #E4E4E4; }
    html #story_tab .share_cover .buttons_2 .social_share:active,
    html #supporter_tab .share_cover .buttons_2 .social_share:active {
      background: #A0A0A0;
      border-color: #A0A0A0; }
      html #story_tab .share_cover .buttons_2 .social_share:active i,
      html #story_tab .share_cover .buttons_2 .social_share:active span,
      html #supporter_tab .share_cover .buttons_2 .social_share:active i,
      html #supporter_tab .share_cover .buttons_2 .social_share:active span {
        color: #fff !important; }
  html #story_tab .share_cover .divider,
  html #supporter_tab .share_cover .divider {
    display: inline-block;
    padding: 0 15px;
    vertical-align: middle; }
    html #story_tab .share_cover .divider::before,
    html #supporter_tab .share_cover .divider::before {
      content: "";
      display: block;
      height: 28px;
      width: 1px;
      background: #C0C0C0; }
  html #story_tab .share_cover .social_share,
  html #supporter_tab .share_cover .social_share {
    width: calc(50% - 8px); }

html .content_section_wrap .supporter.row.center {
  overflow: hidden;
  padding: 24px 0;
  border-bottom: 1px solid #E4E4E4; }
  html .content_section_wrap .supporter.row.center:last-child {
    border-bottom: 0;
    margin-bottom: 0; }
  html .content_section_wrap .supporter.row.center .avartar {
    width: 60px;
    float: left; }
    html .content_section_wrap .supporter.row.center .avartar div {
      position: relative;
      background-size: contain;
      background-position: center;
      border-radius: 100%; }
      html .content_section_wrap .supporter.row.center .avartar div::before {
        content: "";
        display: block;
        padding-top: 100%; }
  html .content_section_wrap .supporter.row.center .info {
    position: relative;
    padding-left: 0;
    float: left;
    width: calc(100% - 60px);
    padding-left: 12px; }
    html .content_section_wrap .supporter.row.center .info .name {
      width: 38%;
      word-break: break-word; }
    html .content_section_wrap .supporter.row.center .info .when {
      color: #A0A0A0; }
      html .content_section_wrap .supporter.row.center .info .when abbr {
        text-decoration: none;
        cursor: default;
        border: 0; }
    html .content_section_wrap .supporter.row.center .info .amount {
      position: absolute;
      top: 0;
      right: 0;
      color: #137AF6;
      line-height: 1; }
      html .content_section_wrap .supporter.row.center .info .amount::before {
        content: "฿ "; }

html .content_section_wrap .supporter_section .supporter.row.center .avartar {
  width: 80px; }

html .content_section_wrap .supporter_section .supporter.row.center .info {
  width: calc(100% - 80px); }

.video_section {
  margin: 11px -15px 30px; }
  .video_section .video_player {
    width: 100%;
    padding-top: 58%;
    position: relative; }
    .video_section .video_player iframe {
      height: 100%;
      width: 100%;
      padding: 12px;
      border: 1px solid #E4E4E4;
      position: absolute;
      top: 0; }
  .video_section .video_social_cover {
    padding-top: 10px; }
    .video_section .video_social_cover .txt_btn_1 {
      margin-top: 20px; }
    .video_section .video_social_cover .share_cover {
      margin-top: 30px; }
  .video_section .goal_meter_cover {
    overflow: auto; }
    .video_section .goal_meter_cover .goal_meter {
      background: #F9F9F9;
      padding: 0px;
      float: left;
      width: 100%;
      position: relative; }
      .video_section .goal_meter_cover .goal_meter .amount_raised {
        margin-top: 24px; }
      .video_section .goal_meter_cover .goal_meter .amount_goal {
        color: #A0A0A0; }
      .video_section .goal_meter_cover .goal_meter .round_slider_sizer {
        min-height: 180px;
        padding-top: 32px;
        text-align: center;
        margin-bottom: 40px; }
        .video_section .goal_meter_cover .goal_meter .round_slider_sizer p {
          padding-top: 10px; }
        .video_section .goal_meter_cover .goal_meter .round_slider_sizer .rs-tooltip-text {
          font-size: 30px;
          letter-spacing: 1px;
          line-height: inherit; }
      .video_section .goal_meter_cover .goal_meter .time_display_cover {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        margin-bottom: 24px; }
        .video_section .goal_meter_cover .goal_meter .time_display_cover .canpaign_notice {
          text-align: center;
          padding: 0 10px; }
        .video_section .goal_meter_cover .goal_meter .time_display_cover .time_period {
          float: left;
          width: 50%;
          height: 72px;
          text-align: center;
          color: #A0A0A0; }
          .video_section .goal_meter_cover .goal_meter .time_display_cover .time_period .time_display_txt {
            width: 93px;
            margin: 0 auto;
            line-height: 30px;
            border-top: 1px solid #A0A0A0; }
  .video_section .empowered_kbank {
    text-align: right;
    width: 100%;
    margin: 4px 0;
    font-size: 0;
    line-height: 1; }
    .video_section .empowered_kbank img {
      display: inline-block; }
  .video_section .back_this_idea {
    text-align: center;
    margin: 20px 0; }
    .video_section .back_this_idea .btn_asiola {
      height: auto;
      padding-top: 0;
      padding-bottom: 0;
      line-height: 48px; }
  .video_section .deadline {
    text-align: center;
    color: #A0A0A0; }
  .video_section .campaign_recap {
    font-size: 16px;
    color: white;
    background: #137AF6;
    text-align: center;
    cursor: pointer;
    position: relative;
    z-index: 999;
    height: 42px;
    line-height: 42px;
    box-sizing: border-box; }
    .video_section .campaign_recap:hover {
      background: #005EE0; }
    .video_section .campaign_recap:empty {
      background: none; }
    .video_section .campaign_recap i::before,
    .video_section .campaign_recap a:link,
    .video_section .campaign_recap a:visited {
      color: #fff; }

.content_section_side {
  padding: 0 0 0 30px; }

.supporter_reward_section {
  border: 1px solid #E4E4E4;
  border-width: 0 1px;
  padding: 0; }

.featured_reward_section {
  margin-bottom: 30px;
  padding: 0; }

.highlight_section_bg {
  margin: 30px 0px 30px;
  padding-top: 4px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #137af6), color-stop(100%, #958aeb));
  background: -webkit-linear-gradient(left, #137af6 0%, #958aeb 100%);
  background: linear-gradient(to right, #137af6 0%, #958aeb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#137af6', endColorstr='#958aeb',GradientType=1 ); }
  .highlight_section_bg .highlight_section {
    background: white;
    padding: 36px 25px;
    margin: 0 auto;
    border: 1px solid #E4E4E4; }
    .highlight_section_bg .highlight_section .highlight_title {
      margin-bottom: 12px; }
    .highlight_section_bg .highlight_section .highlight_detail {
      margin-bottom: 30px; }
    .highlight_section_bg .highlight_section .highlight_img {
      float: right; }
      .highlight_section_bg .highlight_section .highlight_img img {
        width: 100%;
        margin-top: 35px; }
    .highlight_section_bg .highlight_section .highlight_time_location {
      color: #A0A0A0;
      overflow: auto; }
      .highlight_section_bg .highlight_section .highlight_time_location .highlight_time {
        line-height: 15px;
        float: left; }
        .highlight_section_bg .highlight_section .highlight_time_location .highlight_time .time_icon {
          height: 26px;
          width: 26px;
          margin-top: 1px;
          float: left;
          background-position: -223px -122px;
          margin-right: 5px; }
      .highlight_section_bg .highlight_section .highlight_time_location .highlight_location {
        float: left;
        line-height: 28px;
        margin-left: 20px; }
        .highlight_section_bg .highlight_section .highlight_time_location .highlight_location .location_icon {
          height: 26px;
          width: 26px;
          float: left;
          background-position: -250px -122px;
          margin-right: 5px; }
    .highlight_section_bg .highlight_section .highlight_price {
      margin-top: 20px; }
    .highlight_section_bg .highlight_section .highlight_buy_cover {
      float: right; }

.content_section_wrap {
  padding-top: 50px;
  padding-bottom: 156px; }
  .content_section_wrap .storyStyle .mk-video-player {
    overflow: auto;
    clear: both; }
  .content_section_wrap .storyStyle .mk-image-slideshow {
    max-width: 100% !important;
    overflow: hidden; }
    .content_section_wrap .storyStyle .mk-image-slideshow .slideshow-swiper-arrows {
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      display: block;
      text-align: center;
      cursor: pointer;
      z-index: 15;
      color: #fff; }
    .content_section_wrap .storyStyle .mk-image-slideshow .mk-swiper-prev {
      left: 16px; }
    .content_section_wrap .storyStyle .mk-image-slideshow .mk-swiper-next {
      right: 16px; }
    .content_section_wrap .storyStyle .mk-image-slideshow .mk-theme-icon-prev-big:before {
      content: "\f053";
      font-family: FontAwesome;
      font-size: 32px; }
    .content_section_wrap .storyStyle .mk-image-slideshow .mk-theme-icon-next-big:before {
      content: "\f054";
      font-family: FontAwesome;
      font-size: 32px; }
  .content_section_wrap .storyStyle li {
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 1em; }
  .content_section_wrap .content_tab_menu {
    overflow: auto; }
    .content_section_wrap .content_tab_menu div {
      float: left;
      border: 1px solid transparent;
      padding: 12px 12px;
      text-transform: uppercase;
      position: relative;
      z-index: 10; }
      .content_section_wrap .content_tab_menu div.first {
        margin-left: 20px; }
      .content_section_wrap .content_tab_menu div:hover {
        color: #000;
        cursor: pointer; }
      .content_section_wrap .content_tab_menu div.active {
        border: 1px solid #E4E4E4;
        border-bottom: 2px solid white;
        cursor: default; }
      .content_section_wrap .content_tab_menu div#reward {
        color: #137AF6; }

.content_border_wrap {
  padding: 32px;
  border: 1px solid #E4E4E4;
  margin-top: -1px; }

.featured_reward_item_cover,
.reward_item_cover,
.product_item_cover {
  padding: 15px 22px;
  background: #F9F9F9;
  border: 2px solid #F9F9F9;
  overflow: auto;
  margin-bottom: 4px; }
  .featured_reward_item_cover:hover,
  .reward_item_cover:hover,
  .product_item_cover:hover {
    border: 2px solid #A0A0A0;
    cursor: pointer; }
  .featured_reward_item_cover .feature_item_name,
  .reward_item_cover .feature_item_name,
  .product_item_cover .feature_item_name {
    margin-bottom: 10px;
    text-transform: uppercase; }
  .featured_reward_item_cover .feature_item_img,
  .reward_item_cover .feature_item_img,
  .product_item_cover .feature_item_img {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center; }
    .featured_reward_item_cover .feature_item_img::before,
    .reward_item_cover .feature_item_img::before,
    .product_item_cover .feature_item_img::before {
      content: "";
      display: block;
      padding-top: 65.432%; }
    .featured_reward_item_cover .feature_item_img .reward_soldout_overlay,
    .reward_item_cover .feature_item_img .reward_soldout_overlay,
    .product_item_cover .feature_item_img .reward_soldout_overlay {
      text-align: center;
      padding-top: 110px;
      color: white;
      height: 100%;
      width: 100%;
      background: rgba(64, 64, 64, 0.5);
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      padding-top: 28%; }
    .featured_reward_item_cover .feature_item_img.out_of_stock .reward_soldout_overlay,
    .reward_item_cover .feature_item_img.out_of_stock .reward_soldout_overlay,
    .product_item_cover .feature_item_img.out_of_stock .reward_soldout_overlay {
      display: block !important; }
  .featured_reward_item_cover .item_left,
  .reward_item_cover .item_left,
  .product_item_cover .item_left {
    color: white;
    background: #137AF6;
    text-align: right;
    padding: 4px 10px;
    text-transform: uppercase;
    height: 20px; }
    .featured_reward_item_cover .item_left.grey,
    .reward_item_cover .item_left.grey,
    .product_item_cover .item_left.grey {
      background: #E4E4E4; }
  .featured_reward_item_cover .item_detail,
  .reward_item_cover .item_detail,
  .product_item_cover .item_detail {
    overflow: hidden; }
    .featured_reward_item_cover .item_detail div,
    .reward_item_cover .item_detail div,
    .product_item_cover .item_detail div {
      float: left;
      width: 50%;
      border: 1px solid #E4E4E4;
      text-align: center;
      height: 60px; }
      .featured_reward_item_cover .item_detail div p,
      .featured_reward_item_cover .item_detail div span,
      .reward_item_cover .item_detail div p,
      .reward_item_cover .item_detail div span,
      .product_item_cover .item_detail div p,
      .product_item_cover .item_detail div span {
        display: block;
        line-height: 1;
        margin: 0; }
      .featured_reward_item_cover .item_detail div p,
      .reward_item_cover .item_detail div p,
      .product_item_cover .item_detail div p {
        line-height: 26px;
        padding: 0; }
    .featured_reward_item_cover .item_detail .item_price,
    .reward_item_cover .item_detail .item_price,
    .product_item_cover .item_detail .item_price {
      border-right: none;
      padding-top: 7px; }
      .featured_reward_item_cover .item_detail .item_price span,
      .reward_item_cover .item_detail .item_price span,
      .product_item_cover .item_detail .item_price span {
        text-transform: uppercase; }
    .featured_reward_item_cover .item_detail .item_easimated_time,
    .reward_item_cover .item_detail .item_easimated_time,
    .product_item_cover .item_detail .item_easimated_time {
      padding: 7px 0 0 10px;
      text-align: left; }
      .featured_reward_item_cover .item_detail .item_easimated_time p,
      .reward_item_cover .item_detail .item_easimated_time p,
      .product_item_cover .item_detail .item_easimated_time p {
        color: #6F6F6F;
        line-height: 0.8em;
        display: table-cell;
        height: 26px; }

.featured_reward_item_cover {
  margin-top: 4px;
  margin-bottom: 0; }

.reward_item_wrap {
  overflow: auto;
  margin: 0 -7px; }

.reward_item_cover {
  width: calc(25% - 14px);
  width: -ms-calc(25% - 14px);
  padding: 0;
  background: white;
  border: 1px solid #E4E4E4;
  margin: 7px;
  float: left; }
  .reward_item_cover:hover {
    border: 1px solid #A0A0A0;
    box-shadow: 0 0 1px #000; }
  .reward_item_cover .feature_item_name {
    height: 75px;
    padding: 10px 15px; }
  .reward_item_cover .item_desc {
    display: none;
    padding: 10px; }
  .reward_item_cover .item_detail {
    padding: 10px;
    overflow: auto;
    background: #F9F9F9; }
    .reward_item_cover .item_detail div {
      border: 1px solid #E4E4E4; }
  .reward_item_cover .interact_section {
    padding: 10px;
    display: none; }
    .reward_item_cover .interact_section .btn_asiola.default {
      width: 100%; }
    .reward_item_cover .interact_section .hold {
      text-align: center;
      margin-top: 8px;
      color: #A0A0A0; }

.content_section_wrap > [class*="_section"] {
  display: none;
  margin: 0 0 20px 0;
  padding-bottom: 0; }
  .content_section_wrap > [class*="_section"].active {
    display: block; }

.content_section_wrap .reward_hint {
  display: table;
  width: 100%;
  margin-top: 12px !important; }
  .content_section_wrap .reward_hint .reward_hint_msg,
  .content_section_wrap .reward_hint .reward_filter_wrap {
    display: table-cell;
    vertical-align: top;
    color: #6F6F6F; }
  .content_section_wrap .reward_hint .reward_filter_wrap {
    padding: 0;
    text-align: right;
    width: 280px; }

@media (min-width: 991px) and (max-width: 1024px) {
  html .content_section_wrap .supporter.row.center .info .amount {
    position: static; } }

@media (max-width: 991px) {
  .highlight_section {
    background-color: #f1f3fe !important; }
    .highlight_section .highlight_img {
      float: inherit !important; }
    .highlight_section .highlight_buy_cover {
      width: 100%;
      text-align: center;
      margin-top: 10px; }
  .reward_item_cover {
    width: calc(33.33% - 14px);
    width: -ms-calc(33.33% - 14px); }
  .content_section_side,
  .supporter_section_side {
    display: none; }
  html #global .share_cover {
    margin: 30px 0; }
  html #global #story_tab .share_cover, html #global #supporter_tab .share_cover {
    padding: 0;
    border: 0; } }

@media (max-width: 767px) {
  .reward_item_cover {
    width: calc(50% - 14px);
    width: -ms-calc(50% - 14px); }
  html #global .share_cover {
    font-size: 0;
    margin: 30px 0 0; }
    html #global .share_cover > span {
      width: 25%; }
    html #global .share_cover .buttons {
      width: calc(100% - 65px);
      font-size: 0; }
      html #global .share_cover .buttons .social_share {
        width: calc(50% - 4px);
        border-radius: 10px; }
        html #global .share_cover .buttons .social_share i,
        html #global .share_cover .buttons .social_share span {
          line-height: 26px;
          height: 26px; }
    html #global .share_cover .buttons_2 .social_share:active {
      background: #A0A0A0 !important; }
      html #global .share_cover .buttons_2 .social_share:active i, html #global .share_cover .buttons_2 .social_share:active span {
        color: #fff !important; }
    html #global .share_cover .half {
      display: block;
      width: 100% !important;
      margin-bottom: 14px; }
    html #global .share_cover .share_cnp {
      padding: 0;
      border: 0; }
    html #global .share_cover .center-xs {
      text-align: center; }
    html #global .share_cover .share_label {
      text-align: left;
      width: 60px; }
  html #global #story_tab .share_cover .buttons,
  html #global #supporter_tab .share_cover .buttons {
    width: calc(50% - 45px); }
    html #global #story_tab .share_cover .buttons .social_share span,
    html #global #supporter_tab .share_cover .buttons .social_share span {
      display: none; }
  html #global #story_tab .half,
  html #global #supporter_tab .half {
    display: inline-block;
    width: 50%; }
  html .content_section_wrap .supporter.row.center .info .amount {
    position: static; }
  html .content_section_wrap .content_tab_menu div.first {
    margin: 0; } }

@media (max-width: 450px) {
  .content_section_wrap .reward_item_wrap {
    margin: 15px -15px; } }

@media (max-width: 450px) {
  html .btn_asiola {
    height: auto;
    width: 240px;
    padding: 0;
    line-height: 44px; }
  html .help_icon {
    font-size: 20px; }
  html #global .share_cover .buttons .social_share {
    border-width: 1px; }
    html #global .share_cover .buttons .social_share:active {
      background: #137AF6; }
      html #global .share_cover .buttons .social_share:active i,
      html #global .share_cover .buttons .social_share:active span {
        color: #fff !important; }
  html #global .share_cover .share_cnp input {
    padding: 6px 8px !important;
    margin-top: 8px; }
  html #global #story_tab .share_cover,
  html #global #supporter_tab .share_cover {
    margin-top: 10px; }
    html #global #story_tab .share_cover .buttons,
    html #global #supporter_tab .share_cover .buttons {
      width: calc(50% - 32px); }
    html #global #story_tab .share_cover .share_label,
    html #global #supporter_tab .share_cover .share_label {
      width: 46px; }
    html #global #story_tab .share_cover .social_share:not(:first-child),
    html #global #supporter_tab .share_cover .social_share:not(:first-child) {
      margin-left: 4px; }
    html #global #story_tab .share_cover .divider,
    html #global #supporter_tab .share_cover .divider {
      padding: 0 8px; }
  html #global #story_tab .half,
  html #global #supporter_tab .half {
    display: inline-block;
    width: 50%; }
  html #global .center_xxs {
    text-align: center; }
  html .selection_list {
    width: 100%;
    font-size: 10px; }
  html .content_section_wrap.row.center {
    margin: 0 -15px;
    padding-bottom: 0; }
    html .content_section_wrap.row.center .storyStyle .mk-image-slideshow .mk-theme-icon-prev-big:before,
    html .content_section_wrap.row.center .storyStyle .mk-image-slideshow .mk-theme-icon-next-big:before {
      font-size: 24px; }
    html .content_section_wrap.row.center .supporter_section .supporter.row.center .avartar {
      width: 46px; }
    html .content_section_wrap.row.center .supporter.row.center {
      padding: 20px 0; }
      html .content_section_wrap.row.center .supporter.row.center .avartar {
        width: 46px; }
      html .content_section_wrap.row.center .supporter.row.center .info {
        width: calc(100% - 46px);
        padding-left: 12px; }
        html .content_section_wrap.row.center .supporter.row.center .info .amount {
          position: absolute;
          font-size: 22px; }
        html .content_section_wrap.row.center .supporter.row.center .info .name {
          width: 40%; }
  .video_section {
    margin: 11px -15px 0; }
    .video_section .back_this_idea {
      margin: 16px 0 12px; }
    .video_section .goal_meter_cover > .goal_meter {
      height: auto !important; }
      .video_section .goal_meter_cover > .goal_meter .time_section {
        overflow: hidden; }
      .video_section .goal_meter_cover > .goal_meter .amount_raised {
        margin-top: 12px; }
      .video_section .goal_meter_cover > .goal_meter .round_slider_sizer {
        margin-bottom: 12px;
        padding-top: 10px; }
      .video_section .goal_meter_cover > .goal_meter .time_display_cover {
        position: static; }
      .video_section .goal_meter_cover > .goal_meter .time_display_cover .time_period {
        height: 65px; }
        .video_section .goal_meter_cover > .goal_meter .time_display_cover .time_period .time_display_txt {
          margin-top: 2px; }
    .video_section .goal_meter_title {
      margin-top: 24px;
      padding: 1px 5px;
      vertical-align: middle;
      line-height: 24px; }
  .reward_item_cover {
    width: calc(100% - 14px);
    width: -ms-calc(100% - 14px); }
    .reward_item_cover:hover {
      box-shadow: none;
      border: 1px solid #E4E4E4; }
    .reward_item_cover .feature_item_name {
      min-height: 0;
      height: auto;
      margin-bottom: 0;
      padding: 10px; }
    .reward_item_cover .item_desc {
      display: block;
      padding: 10px 10px 0; }
    .reward_item_cover .item_detail {
      background: none;
      padding: 20px 10px 10px; }
      .reward_item_cover .item_detail > div {
        border: 0;
        text-align: left; }
      .reward_item_cover .item_detail .item_price,
      .reward_item_cover .item_detail .item_easimated_time {
        padding: 0;
        height: auto;
        margin: 0; }
    .reward_item_cover .interact_section {
      display: block;
      padding: 4px 10px 32px; }
      .reward_item_cover .interact_section.error .custom .min {
        display: none; }
      .reward_item_cover .interact_section.error .custom .error_msg {
        display: block; }
      .reward_item_cover .interact_section .btn_asiola.default {
        margin-top: 26px; }
      .reward_item_cover .interact_section .custom {
        position: static; }
        .reward_item_cover .interact_section .custom .min,
        .reward_item_cover .interact_section .custom .error_msg {
          margin-top: 8px; }
        .reward_item_cover .interact_section .custom .error_msg {
          display: none;
          color: #f00; }
        .reward_item_cover .interact_section .custom .custom_amount_txt {
          width: 100%;
          border: 1px solid #A0A0A0;
          margin-top: 8px;
          padding: 0 15px;
          height: 36px; }
          .reward_item_cover .interact_section .custom .custom_amount_txt:focus {
            border-color: #137AF6;
            outline: none; }
        .reward_item_cover .interact_section .custom .predefined {
          overflow: hidden;
          margin-top: 15px; }
          .reward_item_cover .interact_section .custom .predefined a {
            width: calc(33.333333333%);
            font-family: campton_medium;
            font-size: 12px; }
            .reward_item_cover .interact_section .custom .predefined a:not(:first-child) {
              width: calc(33.333333333% - 4px);
              margin-left: 4px; }
            .reward_item_cover .interact_section .custom .predefined a:hover {
              color: #E4E4E4; }
  .content_border_wrap {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    padding: 24px 15px 76px; }
  .content_section_wrap .reward_item_wrap {
    margin-top: 24px; }
    .content_section_wrap .reward_item_wrap .horz_row_xxs {
      padding-bottom: 16px; }
  .content_section_wrap .reward_hint {
    display: block;
    width: 100%; }
    .content_section_wrap .reward_hint .reward_hint_msg,
    .content_section_wrap .reward_hint .reward_filter_wrap {
      display: block;
      text-align: center;
      margin-top: 12px;
      padding: 0; }
    .content_section_wrap .reward_hint .reward_hint_msg {
      margin-top: 6px; }
    .content_section_wrap .reward_hint .reward_filter_wrap {
      width: 100%; }
  .content_section_wrap .content_tab_menu div {
    padding: 12px 6px; }
    .content_section_wrap .content_tab_menu div.first {
      margin: 0; }
    .content_section_wrap .content_tab_menu div:hover {
      color: #000; }
    .content_section_wrap .content_tab_menu div:active {
      color: #000; }
    .content_section_wrap .content_tab_menu div.active {
      padding: 12px; } }

/*# sourceMappingURL=campaign.css.map */
