html[lang=th] .campaign-update .date {
  font-family: galileo_regular; }

.campaign-update time {
  font-family: campton_light;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #a9a9a9; }

html[lang=th] .campaign-update time {
  font-family: galileo_book;
  font-size: 20px;
  letter-spacing: 1px; }

.campaign-update .title {
  float: left;
  width: 48%; }

html[lang=th] .campaign-update .title {
  font-family: galileo_regular; }

.campaign-update h4 {
  font-family: campton_book;
  font-size: 30px;
  letter-spacing: 1px;
  text-transform: none; }

html[lang=th] .campaign-update h4 {
  font-family: galileo_regular;
  font-size: 48px;
  margin-top: -12px; }

.campaign-update .description {
  float: left;
  width: 36%;
  padding-left: 24px; }

.campaign-update .description p {
  font-size: 16px;
  letter-spacing: 1px;
  font-family: campton_light;
  width: 100%;
  padding-left: 0;
  line-height: 25px; }

html[lang=th] .campaign-update .description p {
  font-family: galileo_book;
  font-size: 23px;
  letter-spacing: 1px; }

.campaign-update .link {
  width: auto;
  float: right;
  text-align: right; }

.campaign-update .link a {
  font-family: quicksand_bold;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #137af6;
  position: relative; }

html[lang=th] .campaign-update .link a {
  font-family: galileo_regular;
  font-size: 20px;
  letter-spacing: 1px; }

.campaign-update .link a::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 1px;
  background: #137af6;
  width: 0;
  -webkit-transition: width 0.15s;
  transition: width 0.15s; }

.campaign-update .link a:hover::after {
  width: 100%; }

.campaign-update .link a:active {
  color: #005ee0; }

.campaign-update .meta {
  clear: both;
  padding-top: 48px; }

.campaign-update .thumbup
, .campaign-update .comment
, .campaign-update .backer {
  font-family: quicksand_bold;
  font-size: 20px;
  letter-spacing: 1px;
  display: block;
  float: left;
  padding-left: 42px;
  margin-right: 42px;
  height: 32px;
  line-height: 32px; }

.campaign-update .thumbup {
  background: url(../assets/images/Icon_Comment_Heart.png) no-repeat center center;
  background-position: -9px center; }

.campaign-update .comment {
  background: url(../assets/images/Icon_Comment_Bubble.png) no-repeat center center;
  background-position: -9px center; }

.campaign-update .backer {
  background: url(../assets/images/Icon_Comment_ForBacker.png) no-repeat center center;
  background-position: -9px center;
  float: right;
  box-sizing: border-box;
  width: 52%;
  margin: 0;
  transform: translateX(16px);
  -ms-transform: translateX(16px);
  -webkit-transform: translateX(16px);
  -moz-transform: translateX(16px);
  -o-transform: translateX(16px); }

.campaign-update .backer span {
  color: #137af6;
  letter-spacing: 0px; }

html[lang=th] .campaign-update .backer span {
  font-family: galileo_bold;
  font-size: 26px;
  letter-spacing: 1px; }

.single-campaign h1,
html[lang=th] .single-campaign h1 {
  padding: 0 0 11px;
  font-size: 30px;
  font-family: campton_medium;
  text-transform: none;
  letter-spacing: 1px;
  margin: 0; }

.single-campaign .upper-section {
  margin-bottom: 30px; }

.single-campaign .single-content {
  padding: 0; }

.single-campaign #theme-page .mk-main-wrapper-holder .theme-page-wrapper .theme-content[id|=blog-entry] {
  padding: 0; }

.single-campaign .day-backers .milestone-text {
  letter-spacing: 1px;
  font-size: 14px;
  font-family: quicksand_bold; }

.single-campaign .social-section p {
  font-family: 'campton_medium';
  font-size: 18px;
  line-height: 25px; }

html[lang=th] .single-campaign .social-section p {
  font-family: galileo_bold;
  font-size: 25px;
  line-height: 27px;
  letter-spacing: 0.8px; }

.single-campaign .heading {
  color: #000;
  background: #e4e4e4; }

html[lang=th] .single-campaign .heading {
  padding: 11px 0 8px; }

.single-campaign .tab-section .right-section .heading {
  background: #fff;
  border: 1px solid #eee;
  box-sizing: border-box; }

.single-campaign .right-bar {
  background: #f4f4f4; }

.single-campaign .mk-milestone {
  margin-bottom: 10px; }

.single-campaign .mk-milestone .milestone-number {
  padding: 0 10px 8px; }

.single-campaign .mk-milestone .milestone-text {
  padding-top: 7px; }

html[lang=th] .single-campaign .mk-milestone .milestone-text {
  font-family: galileo_bold;
  font-size: 22px; }

.single-campaign .right-section .clearfix.day-backers {
  margin-top: 12px; }

html[lang=th] .single-campaign .right-section .clearfix.day-backers {
  margin-top: -16px; }

.ticket-block {
  border: 1px solid #eee;
  border-top: 0;
  background: url(../assets/images/border.jpg) no-repeat left top;
  background-size: 101% 4px;
  padding: 36px 25px 32px;
  margin-bottom: 48px;
  margin-top: 10px;
  position: relative; }

.ticket-block h2 {
  font-size: 20px;
  text-transform: uppercase;
  font-family: "ampton-SemiBoldC";
  margin-bottom: 12px;
  letter-spacing: 0.5px; }

html[lang=th] .ticket-block h2 {
  font-family: galileo_bold;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 7px;
  margin-top: -6px; }

.ticket-block .description {
  width: 64%;
  float: left; }

.ticket-block .description p {
  font-size: 16.5px;
  color: #000000;
  font-family: "campton_book";
  margin: 0;
  padding-top: 0;
  line-height: 1.4em;
  min-height: 0; }

html[lang=th] .ticket-block .description p {
  font-size: 24px;
  font-family: galileo_regular;
  line-height: 28px;
  letter-spacing: 0.5px; }

.ticket-block .time-schedule {
  position: absolute;
  width: 60%;
  bottom: 28px;
  left: 25px; }

.ticket-block .time-schedule span {
  display: inline-block;
  font-family: 'campton_medium';
  font-size: 12px;
  color: #808080;
  line-height: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  white-space: nowrap;
  margin-right: 24px;
  vertical-align: top; }

html[lang=th] .ticket-block .time-schedule span {
  font-family: galileo_regular;
  font-size: 18px;
  line-height: 15px;
  letter-spacing: 1px; }

.ticket-block .time-schedule span i {
  margin-right: 8px;
  float: left;
  white-space: nowrap;
  text-transform: uppercase; }

.icon-timing {
  height: 25px;
  width: 27px;
  background-position: -221px -125px; }

.icon-location {
  background-position: -252px -123px;
  height: 25px;
  width: 27px; }

.icon-schedule {
  height: 25px;
  width: 27px;
  background-position: -286px -123px; }

.amount-block {
  position: absolute;
  bottom: 74px;
  left: 25px; }

.amount-block strong {
  font-size: 35px;
  font-family: quicksand_bold, sans-serif;
  font-weight: normal;
  margin-right: 8px;
  color: #000;
  display: inline-block; }

.amount-block small {
  font-family: campton_semibold;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000; }

html[lang=th] .amount-block small {
  font-family: galileo_bold;
  font-size: 24px; }

.buy-ticket {
  text-align: center;
  position: absolute;
  bottom: 32px;
  width: 340px;
  right: 344px; }

.ticket-block figure {
  width: 31.7%;
  float: right; }

.buy-ticket .large-btn {
  display: inline-block;
  border-radius: 12px;
  border: 2px solid #137af6;
  color: #137af6;
  text-align: center;
  padding: 14px;
  font-family: quicksand_bold, sans-serif;
  font-size: 22px;
  margin: 0;
  box-sizing: border-box;
  width: 223px; }

.buy-ticket .large-btn:hover {
  background-color: #137af6;
  color: #ffffff; }

.buy-ticket .large-btn:active {
  background-color: #005ee0;
  border-color: #005ee0; }

.single-campaign .tabmenu {
  margin-top: 0; }

.single-campaign .tabmenu li {
  margin: 0; }

.single-campaign .tabmenu li a {
  letter-spacing: 1.5px;
  color: #6f6f6f;
  font-size: 16px; }

.single-campaign .tabmenu li a:hover {
  color: #000; }

.single-campaign .tabmenu li a.rewardTab {
  color: #137af6; }

.single-campaign .tabmenu li a.rewardTab:hover {
  color: #005ee0; }

.single-campaign .tabmenu li.active {
  border: 1px solid #eee; }

.single-campaign .tabmenu li.active a {
  color: #000;
  font-size: 16px; }

.single-campaign .tabmenu li.active a.rewardTab {
  color: #137af6; }

.single-campaign .tab-details div[class$=Style] {
  border: 1px solid #eee;
  padding: 32px; }

.single-campaign .back-btn {
  padding: 20px 0 0; }

.single-campaign .back-btn .btn {
  width: 250px;
  font-size: 22px; }

.single-campaign .back-btn .btn:hover {
  border: 2px solid #005ee0;
  color: #fff; }

.single-campaign .back-btn .btn:active {
  color: #fff;
  background: #137af6;
  border: 2px solid #137af6; }

html[lang=th] .single-campaign .back-btn em {
  font-family: galileo_book;
  font-size: 18px;
  letter-spacing: 1px; }

.buy-ticket .large-btn {
  line-height: inherit;
  height: auto; }

html[lang=th] .single-campaign .back-btn .btn,
html[lang=th] .buy-ticket .large-btn {
  font-size: 30px;
  letter-spacing: 2px;
  font-family: galileo_bold; }

html[lang=th] .buy-ticket .large-btn {
  padding: 14px 14px 8px; }

.social-icons li:first-child {
  margin-right: 0; }

.single-campaign .social-icons strong {
  color: #a9a9a9;
  margin-left: 7px;
  font-size: 13px; }

.single-campaign .social-icons [class|=sprite] {
  background: url(../assets/images/socialsprite.jpg);
  background-repeat: no-repeat;
  line-height: 25px;
  height: 25px;
  width: 25px; }

.single-campaign .social-icons .sprite-icon-1 {
  background-position: -124px 0; }

.single-campaign .social-icons .sprite-icon-2 {
  background-position: 0 0; }

.single-campaign .social-icons .sprite-icon-3 {
  background-position: -32px 0; }

.single-campaign .social-icons .sprite-icon-4 {
  background-position: -63px 0; }

.single-campaign .social-icons .sprite-icon-6 {
  background-position: -95px 0; }

.single-campaign .social-icons .sprite-icon-7 {
  background-position: -156px 0; }

.single-campaign .social-icons .sprite-icon-1:hover {
  background-position: -124px -31px; }

.single-campaign .social-icons .sprite-icon-2:hover {
  background-position: 0 -31px; }

.single-campaign .social-icons .sprite-icon-3:hover {
  background-position: -32px -31px; }

.single-campaign .social-icons .sprite-icon-4:hover {
  background-position: -63px -31px; }

.single-campaign .social-icons .sprite-icon-6:hover {
  background-position: -95px -31px; }

.single-campaign .social-icons .sprite-icon-7:hover {
  background-position: -156px -31px; }

.single-campaign .social-icons .sprite-icon-1:active {
  background-position: -124px -62px; }

.single-campaign .social-icons .sprite-icon-2:active {
  background-position: 0 -62px; }

.single-campaign .social-icons .sprite-icon-3:active {
  background-position: -32px -62px; }

.single-campaign .social-icons .sprite-icon-4:active {
  background-position: -63px -62px; }

.single-campaign .social-icons .sprite-icon-6:active {
  background-position: -95px -62px; }

.single-campaign .social-icons .sprite-icon-7:active {
  background-position: -156px -62px; }

.single-campaign .social-section {
  position: relative;
  margin-top: 11px; }

.single-campagin .social-section p {
  line-height: 1.4em; }

.single-campaign .social-icons {
  position: absolute;
  top: 7px;
  right: 0;
  vertical-align: top;
  float: none; }

.single-campaign .storyTab .reward-grid-item h2 {
  padding: 2px 0 18px;
  font-size: 15px;
  line-height: 1.3en;
  font-family: campton_medium; }

html[lang=th] .single-campaign .storyTab .reward-grid-item h2 {
  font-family: galileo_bold;
  font-size: 23px;
  letter-spacing: 2px;
  line-height: 24px; }

.single-campaign .storyTab p.reward-description-text
, .single-campaign .rewardTab p.reward-description-text {
  padding: 18px 10px;
  font-size: 16px;
  font-family: campton_light; }

.single-campaign .rewardTab p.reward-description-text {
  font-size: 15px;
  display: none; }

.single-campaign .storyTab .day-backers {
  margin: 0 0 19px; }

.single-campaign .storyTab .day-backers .left {
  padding: 5px 0; }

html[lang=th] .single-campaign .storyTab .day-backers .left {
  padding: 5px 0 0; }

.single-campaign .storyTab .day-backers span {
  font-size: 14px;
  font-family: campton_medium; }

html[lang=th] .single-campaign .storyTab .day-backers span {
  font-family: galileo_bold;
  font-size: 24px; }

.single-campaign .storyTab .day-backers .right {
  padding: 8px 0 0; }

html[lang=th] .single-campaign .storyTab .day-backers .right {
  padding: 24px 0 0; }

.single-campaign .storyTab .day-backers .right strong {
  font-size: 12px;
  line-height: 1em; }

html[lang=th] .single-campaign .storyTab .day-backers .right strong {
  font-family: galileo_regular;
  font-size: 18px;
  width: 120px;
  line-height: 15px; }

.single-campaign .storyTab .day-backers .right small {
  font-size: 15px; }

.single-campaign .storyTab .day-backers .right span {
  margin-top: 5px; }

html[lang=th] .single-campaign .storyTab .day-backers .right span {
  line-height: 24px;
  margin-top: 1px;
  transform: translateY(3px);
  -ms-transform: translateY(3px);
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  -o-transform: translateY(3px); }

.single-campaign .rewardTab .day-backers .left strong {
  margin-top: -3px;
  font-size: 25px; }

.single-campaign .rewardTab .day-backers .left span {
  margin-top: 5px; }

.single-campaign .rewardTab .day-backers .right
, .single-campaign .rewardTab .day-backers .right {
  padding-bottom: 4px; }

.single-campaign .left-section.storyStyle p {
  padding: 0 0 20px 0; }

.single-campaign .storyTab .abs-data .buy-reward-text {
  cursor: pointer; }

.single-campaign .storyStyle span
, .single-campaign .storyStyle div
, .single-campaign .storyStyle p {
  font-family: campton_light;
  font-size: 16px;
  color: #6f6f6f;
  line-height: 26px; }

html[lang=th] .single-campaign .storyStyle span
, html[lang=th] .single-campaign .storyStyle div
, html[lang=th] .single-campaign .storyStyle p {
  font-family: galileo_regular;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px; }

.single-campaign .storyStyle p b
, .single-campaign .storyStyle p strong
, .single-campaign .storyStyle b
, .single-campaign .storyStyle strong {
  font-size: 14px;
  font-family: quicksand_bold;
  letter-spacing: 2px;
  color: #000; }

html[lang=th] .single-campaign .storyStyle blockquote, html[lang=th] .single-campaign .storyStyle blockquote > p {
  font-family: galileo_regular;
  font-size: 38px !important;
  line-height: 1 !important; }

html[lang=th] .single-campaign .storyStyle p b
, html[lang=th] .single-campaign .storyStyle p strong
, html[lang=th] .single-campaign .storyStyle b
, html[lang=th] .single-campaign .storyStyle strong {
  font-family: galileo_bold;
  font-size: 24px; }

.single-campaign .rewardTab .day-backers-wrap {
  background: #f3f3f3;
  padding: 10px; }

.single-campaign .rewardTab .day-backers {
  border-width: 1px;
  margin: 0; }

.single-campaign .rewardTab .day-backers .left span
, .single-campaign .rewardTab .day-backers .right span {
  font-family: campton_medium;
  font-size: 12px;
  letter-spacing: 1px; }

html[lang=th] .single-campaign .rewardTab .day-backers .left span,
html[lang=th] .single-campaign .rewardTab .day-backers .right span {
  font-family: galileo_bold;
  font-size: 20px;
  line-height: 20px; }

html[lang=th] .single-campaign .rewardTab .day-backers .left span {
  margin-top: -2px; }

html[lang=th] .single-campaign .rewardTab .day-backers .right strong {
  font-family: galileo_regular;
  font-size: 14px;
  line-height: 12px;
  letter-spacing: 1px; }

html[lang=th] .single-campaign .rewardTab .day-backers .left {
  padding-bottom: 0; }

.single-campaign .rewardTab .reward-grid-item h2 {
  padding-bottom: 7px;
  font-family: campton_semibold;
  font-size: 15px; }

.rewardStyle.repeat-section .day-backers .right strong {
  font-size: 11px; }

html[lang=th] .single-campaign .rewardTab .reward-grid-item h2 {
  font-family: galileo_bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 1px; }

html[lang=th] .single-campaign .updateTab .noupdate {
  font-family: galileo_regular; }

/*.single-campaign .tags {
  display: none;
}*/
.single-campaign .pop-data_open figure {
  position: relative; }

.single-campaign .fancybox-skin .fancybox-close {
  display: none; }

.single-campaign .pop-data_open .tags,
.single-campaign .reward-grid-item .tags {
  display: block;
  left: 0;
  width: auto;
  right: 0;
  bottom: 0;
  top: auto;
  background-color: #1f7af6;
  transform: none;
  -ms-transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  padding: 0 6px;
  height: auto;
  text-align: right;
  position: static;
  margin-top: 0px; }

.single-campaign .pop-data_open .tags.empty,
.single-campaign .reward-grid-item .tags.empty {
  background-color: #e4e4e4; }

.single-campaign .pop-data_open .tags.empty,
.single-campaign .reward-grid-item .reward-soldout .tags.empty {
  background-color: #e4e4e4; }

.single-campaign .pop-data_open .tags small,
.single-campaign .reward-grid-item .tags small {
  font-family: quicksand_bold;
  font-size: 12.5px;
  letter-spacing: 0.5px;
  line-height: 24px;
  padding: 0;
  display: block;
  color: #fff; }

.single-campaign .reward-grid-item .tags small.special
, .single-campaign .storyTab .reward-grid-item .tags small.special {
  font-size: 12px;
  padding: 0;
  font-family: quicksand_bold;
  color: #fff; }

.single-campaign .sort-options {
  margin: 20px 0 14px; }

.single-campaign .mk-video-player {
  border: 1px solid #eee; }

.single-campaign .repeat-section .right-bar {
  border: 1px solid #f4f4f4; }

.single-campaign .repeat-section .right-bar:hover {
  border: 1px solid #cfcfcf; }

.single-campaign .rewardTab .right-bar {
  border: 1px solid #cfcfcf; }

.single-campaign .right-bar:hover .abs-layer {
  border: 2px solid #6f6f6f; }

.single-campaign .right-bar .abs-layer a {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  outline: 0;
  width: 100%;
  height: 100%;
  border: 0;
  text-decoration: none; }

.single-campaign .right-bar:hover .abs-layer a {
  display: block; }

.single-campaign .reward-soldout .abs-layer {
  display: none; }

.single-campaign .rewardTab .rewardStyle.repeat-section p {
  font-size: 14px;
  font-family: campton_light; }

.single-campaign .rewardStyle.repeat-section .day-backers
, .rewardStyle.repeat-section .day-backers::before {
  border-width: 1px; }

.faqTab .fancy-title-span1 {
  font-size: 13px;
  background: none;
  color: #6f6f6f !important;
  margin-top: 6px; }

html[lang=th] .faqTab .fancy-title-span1 {
  font-family: galileo_regular;
  font-size: 23px;
  letter-spacing: 5px;
  margin: 0 auto 25px;
  transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -o-transform: translateY(-3px); }

.faqTab .fancy-tilte-head1 {
  font-size: 15px;
  text-transform: uppercase;
  color: #000; }

.faqTab .ui-accordion {
  margin-top: 18px; }

.faqTab .ui-accordion-header {
  outline: 0;
  height: 30px;
  margin-top: 0; }

.faqTab .ui-state-active.ui-accordion-header h3 {
  font-family: campton_medium;
  color: #137af6 !important; }

html[lang=th] .faqTab .ui-state-active.ui-accordion-header h3 {
  font-family: galileo_bold; }

.faqTab .ui-accordion-header h3 {
  font-size: 16px;
  cursor: pointer; }

html[lang=th] .faqTab .ui-accordion-header h3 {
  font-family: galileo_bold;
  font-size: 24px;
  letter-spacing: 1px; }

.faqTab .ui-accordion-content p {
  font-size: 16px;
  font-family: campton_light;
  padding-right: 40px; }

html[lang=th] .faqTab .ui-accordion-content p {
  font-family: galileo_book;
  font-size: 23px;
  letter-spacing: 1px;
  line-height: 23px; }

.faqTab .minus:before
, .faqTab .plus:before {
  top: -22px; }

html[lang=th] .faqTab .minus:before,
html[lang=th] .faqTab .plus:before {
  top: -27px; }

.faqTab .accordion_content {
  margin-bottom: 26px; }

.single-campaign .fancybox-overlay {
  background-image: none;
  background-color: rgba(0, 0, 0, 0.2); }

.single-campaign #theme-page .rewardTab select.sort-options {
  margin: 20px auto 14px;
  border: 1px solid #cfcfcf; }

.pop-buy-reward-text {
  display: inline-block;
  margin-top: 20px;
  text-align: center;
  padding: 14px;
  background: #137af6;
  color: #fff;
  border-radius: 12px;
  font-family: quicksand_bold;
  font-size: 22px;
  letter-spacing: 3px;
  text-align: center;
  z-index: 2;
  width: 210px;
  border: 2px solid #137af6; }

.pop-buy-reward-text:hover {
  color: #fff;
  background: #005ee0;
  border: 2px solid #005ee0; }

.pop-buy-reward-text:active {
  color: #fff;
  background: #137af6;
  border: 2px solid #137af6; }

.goal-section {
  background: none;
  padding: 0; }

.goal-section span.goal {
  font-size: 17px;
  margin-top: 0;
  font-family: quicksand_bold; }

html[lang=th] .goal-section span.goal {
  font-family: galileo_regular;
  font-weight: bold;
  font-size: 26px;
  padding: 10px 0 24px; }

html[lang=th] .pop-left span,
html[lang=th] .pop-right span {
  font-family: galileo_bold;
  font-size: 22px;
  display: inline-block; }

html[lang=th] .pop-right span {
  transform: translateY(11px);
  -ms-transform: translateY(11px);
  -webkit-transform: translateY(11px);
  -moz-transform: translateY(11px);
  -o-transform: translateY(11px); }

html[lang=th] .pop-left strong {
  margin-bottom: 4px; }

html[lang=th] .pop-right strong {
  font-family: galileo_regular;
  font-size: 18px;
  line-height: 15px;
  letter-spacing: 1px;
  margin-bottom: 0;
  white-space: nowrap;
  transform: translateY(7px);
  -ms-transform: translateY(7px);
  -webkit-transform: translateY(7px);
  -moz-transform: translateY(7px);
  -o-transform: translateY(7px); }

html[lang=th] .pop-left div {
  margin-top: 3px; }

html[lang=th] .pop-reward-title {
  font-family: galileo_bold;
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 28px; }

html[lang=th] .pop-buy-reward-text {
  font-family: galileo_bold;
  font-size: 30px;
  letter-spacing: 2px; }

.tags small {
  font-family: "campton_light";
  font-size: 1.4em;
  padding: 6px 0;
  display: block; }

.tags .special {
  font-size: 1.2em;
  padding: 22px 0; }

.soldout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(64, 64, 64, 0.5);
  display: block;
  bottom: 0; }

.soldout span {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  color: #fff;
  font-family: quicksand_bold;
  font-size: 17px; }

.single-campaign .tab-section {
  padding: 0;
  text-align: inherit !important; }

.single-campaign .tab-section .responsive-align-center p {
  text-align: left !important; }

.single-campaign p:empty {
  display: none; }

.single-campaign .left-section.storyStyle blockquote p {
  padding: 0;
  margin: 0; }

.single-campaign .storyStyle blockquote,
.single-campaign .storyStyle blockquote > p {
  padding: 0;
  margin: 0;
  font-family: campton_light;
  font-size: 34px;
  line-height: 36px;
  font-style: normal; }

.single-campaign .storyStyle .vc_col-sm-12 blockquote {
  position: static;
  width: 80%;
  margin: 0 auto; }

.single-campaign .storyStyle .vc_col-sm-12 .vc_col-sm-6 blockquote {
  width: auto; }

.single-campaign .storyStyle .vc_col-sm-12 blockquote::before,
.single-campaign .storyStyle .vc_col-sm-12 blockquote::after {
  content: "";
  height: 1px;
  /*background: #afafaf;  Edit by Jon*/
  display: block;
  width: 100%;
  margin: 0 0 16px; }

.single-campaign .storyStyle .vc_col-sm-12 blockquote::after {
  margin: 16px 0 0; }

/* Add by Jon */
.single-campaign .storyStyle h6 {
  font-size: 13px;
  font-family: campton_medium;
  color: #000;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px; }

.copyright-photo {
  font-size: 10px !important;
  font-family: campton_medium;
  color: #6f6f6f !important;
  float: right;
  margin-top: 5px;
  margin-bottom: 10px; }

.empowered-kbank {
  text-align: right;
  margin-top: 4px; }

#theme-page .empowered-kbank img {
  height: 25px;
  width: auto;
  vertical-align: top; }

html[lang=th] .pop-reward-description-text {
  font-family: galileo_regular;
  font-size: 22px;
  letter-spacing: 1px; }

.single-campaign .tab-section .featured-reward .heading.button {
  cursor: pointer;
  background: #f4f4f4;
  color: #137af6;
  border: 0; }

.single-campaign .tab-section .featured-reward .heading.button:hover {
  background: #e8e8e8;
  color: #137af6; }

.single-campaign .tab-section .featured-reward .heading.button:active {
  background: #e8e8e8;
  color: #005ee0; }

.featured-reward .heading.button.top {
  margin-top: 4px; }

.single-campaign .ended-wrap {
  display: table;
  background: #137af6; }

.single-campaign .ended-wrap .ended {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 12px;
  font-family: campton_book;
  font-size: 16px;
  color: #fff;
  height: 80px;
  letter-spacing: 1.5px; }

.single-campaign .ended-wrap strong {
  font-family: campton_bold;
  font-weight: normal; }

html[lang=th] .single-campaign .ended-wrap .ended {
  font-family: galileo_regular;
  font-size: 25px;
  letter-spacing: 1px; }

html[lang=th] .single-campaign .ended-wrap strong {
  font-family: galileo_bold;
  letter-spacing: 1px; }

/* Crowdfunding 101 */
.icon-crowdfunding101, .icon-crowdfunding101:active {
  width: 27px;
  height: 27px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  background-image: url("../images/crowdfunding101/Desktop/iconquestion_1.png"); }

.icon-crowdfunding101:hover {
  background-image: url("../images/crowdfunding101/Desktop/iconquestion_2.png"); }

.heading-mob .icon-crowdfunding101, .heading-mob .icon-crowdfunding101:active {
  right: 0;
  background-image: url("../images/crowdfunding101/Mobile/iconquestion_1.png");
  background-size: 100% 100%; }

.heading-mob .icon-crowdfunding101:hover {
  background-image: url("../images/crowdfunding101/Mobile/iconquestion_2.png"); }

@media (max-width: 450px) {
  .single-campaign .storyStyle p b
, .single-campaign .storyStyle p strong
, .single-campaign .storyStyle b
, .single-campaign .storyStyle strong {
    font-size: 12px;
    font-family: quicksand_bold;
    letter-spacing: 2px;
    color: #000; }
  .single-campaign .storyStyle span, .single-campaign .storyStyle div, .single-campaign .storyStyle p {
    font-size: 15px;
    line-height: 22px; }
  html .single-campaign .storyStyle blockquote, html .single-campaign .storyStyle blockquote > p {
    font-size: 24px !important;
    line-height: 26px; } }

/*# sourceMappingURL=cms_en.css.map */
