.filter_section {
  margin-bottom: 60px; }
  .filter_section .filter_item_cover {
    float: left;
    text-align: center;
    width: 20%;
    cursor: pointer; }
    .filter_section .filter_item_cover .filter_action {
      display: inline-block;
      padding-bottom: 5px;
      border-bottom: 4px solid transparent; }
      .filter_section .filter_item_cover .filter_action div {
        padding-top: 60px;
        width: 80px; }
        .filter_section .filter_item_cover .filter_action div.filter_all {
          background-position: 0px -218px; }
        .filter_section .filter_item_cover .filter_action div.filter_music {
          background-position: 0px -288px; }
        .filter_section .filter_item_cover .filter_action div.filter_food {
          background-position: 0px -358px; }
        .filter_section .filter_item_cover .filter_action div.filter_fashion {
          background-position: 0px -425px; }
        .filter_section .filter_item_cover .filter_action div.filter_art {
          background-position: -162px -219px; }
    .filter_section .filter_item_cover:hover .filter_action, .filter_section .filter_item_cover.active .filter_action {
      border-bottom: 4px solid #137AF6; }
      .filter_section .filter_item_cover:hover .filter_action div.filter_all, .filter_section .filter_item_cover.active .filter_action div.filter_all {
        background-position: -83px -218px; }
      .filter_section .filter_item_cover:hover .filter_action div.filter_music, .filter_section .filter_item_cover.active .filter_action div.filter_music {
        background-position: -78px -288px; }
      .filter_section .filter_item_cover:hover .filter_action div.filter_food, .filter_section .filter_item_cover.active .filter_action div.filter_food {
        background-position: -79px -358px; }
      .filter_section .filter_item_cover:hover .filter_action div.filter_fashion, .filter_section .filter_item_cover.active .filter_action div.filter_fashion {
        background-position: -80px -425px; }
      .filter_section .filter_item_cover:hover .filter_action div.filter_art, .filter_section .filter_item_cover.active .filter_action div.filter_art {
        background-position: -242px -219px; }
      .filter_section .filter_item_cover:hover .filter_action span, .filter_section .filter_item_cover.active .filter_action span {
        color: #137AF6; }

.active_campaign_list {
  margin-top: 40px;
  margin-bottom: 64px !important; }

.ended_campaign_list {
  margin-top: 40px;
  margin-bottom: 64px !important; }
  .ended_campaign_list .goal_meter {
    width: 100% !important; }

.got_idea_wrap {
  margin-bottom: 180px; }
  .got_idea_wrap .desc {
    margin-top: 10px; }
  .got_idea_wrap .btn_asiola {
    margin-top: 40px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 48px;
    height: 52px; }

.campaign_list_cover {
  padding-bottom: 32px; }
  .campaign_list_cover .campaign_cover {
    float: left;
    width: 33.33%; }
    .campaign_list_cover .campaign_cover .campaign_block {
      border: 1px solid #E4E4E4;
      margin: 9px 5px; }
      .campaign_list_cover .campaign_cover .campaign_block .campaign_title {
        padding: 13px 17px;
        height: 55px; }
      .campaign_list_cover .campaign_cover .campaign_block .campaign_img_cover {
        background-color: #000;
        position: relative; }
        .campaign_list_cover .campaign_cover .campaign_block .campaign_img_cover::before {
          padding-top: 64.1%;
          content: "";
          display: block; }
        .campaign_list_cover .campaign_cover .campaign_block .campaign_img_cover .campaign_overlay {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          opacity: 0.7;
          z-index: 2; }
          .campaign_list_cover .campaign_cover .campaign_block .campaign_img_cover .campaign_overlay.ended {
            background-color: black; }
            .campaign_list_cover .campaign_cover .campaign_block .campaign_img_cover .campaign_overlay.ended .funded {
              display: none; }
          .campaign_list_cover .campaign_cover .campaign_block .campaign_img_cover .campaign_overlay.funded {
            background: -webkit-gradient(linear, left top, right top, color-stop(0%, #137af6), color-stop(100%, #958aeb));
            background: -webkit-linear-gradient(left, #137af6 0%, #958aeb 100%);
            background: linear-gradient(to right, #137af6 0%, #958aeb 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#137af6', endColorstr='#958aeb',GradientType=1 ); }
            .campaign_list_cover .campaign_cover .campaign_block .campaign_img_cover .campaign_overlay.funded .ended {
              display: none; }
        .campaign_list_cover .campaign_cover .campaign_block .campaign_img_cover .overlay_txt {
          color: white;
          display: block;
          text-align: center;
          position: absolute;
          top: 50%;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
          width: 100%;
          z-index: 3; }
        .campaign_list_cover .campaign_cover .campaign_block .campaign_img_cover .campaign_img {
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: left top;
          position: absolute;
          left: 0;
          bottom: 0;
          top: 0;
          right: 0; }
      .campaign_list_cover .campaign_cover .campaign_block .campaign_detail {
        padding: 13px 17px;
        height: 130px; }
      .campaign_list_cover .campaign_cover .campaign_block .campaign_time {
        height: 176px;
        overflow: hidden; }
        .campaign_list_cover .campaign_cover .campaign_block .campaign_time .goal_meter {
          background: #F9F9F9;
          padding: 0px;
          float: left;
          width: 65%;
          height: 180px; }
          .campaign_list_cover .campaign_cover .campaign_block .campaign_time .goal_meter .round_slider_sizer {
            height: 120px;
            padding-top: 20px;
            text-align: center; }
            .campaign_list_cover .campaign_cover .campaign_block .campaign_time .goal_meter .round_slider_sizer p {
              padding-top: 10px; }
        .campaign_list_cover .campaign_cover .campaign_block .campaign_time .time_period {
          background: #F9F9F9;
          float: left;
          width: 35%;
          height: 90px;
          text-align: center;
          color: #A0A0A0;
          border-left: 4px solid white;
          border-bottom: 4px solid white;
          padding-top: 4px; }
          .campaign_list_cover .campaign_cover .campaign_block .campaign_time .time_period .time_display_txt {
            width: -ms-calc(100% - 16px);
            width: -o-calc(100% - 16px);
            width: calc(100% - 16px);
            margin: 0 auto;
            line-height: 30px;
            border-top: 1px solid;
            text-align: center;
            max-width: 108px; }

@media (max-width: 767px) {
  .got_idea_wrap {
    margin-top: 6px;
    margin-bottom: 120px; }
    .got_idea_wrap .desc {
      margin-top: 10px; }
    .got_idea_wrap .btn_asiola {
      margin-top: 28px; } }

@media (max-width: 450px) {
  .filter_item_cover {
    width: 45% !important;
    padding-top: 45%;
    margin: 2%;
    position: relative;
    border: 3px solid #137AF6;
    border-radius: 14px; }
    .filter_item_cover#filter_all {
      display: none; }
    .filter_item_cover .filter_action {
      color: #137AF6;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      .filter_item_cover .filter_action .filter_music {
        background-position: -78px -288px !important; }
      .filter_item_cover .filter_action .filter_food {
        background-position: -79px -358px !important; }
      .filter_item_cover .filter_action .filter_fashion {
        background-position: -80px -425px !important; }
      .filter_item_cover .filter_action .filter_art {
        background-position: -242px -219px !important; }
    .filter_item_cover.active {
      background: #137AF6; }
      .filter_item_cover.active .filter_action span {
        color: white !important; }
      .filter_item_cover.active .filter_action .filter_music {
        background-position: -345px -486px !important; }
      .filter_item_cover.active .filter_action .filter_food {
        background-position: -422px -488px !important; }
      .filter_item_cover.active .filter_action .filter_fashion {
        background-position: -496px -484px !important; }
      .filter_item_cover.active .filter_action .filter_art {
        width: 45px;
        background-position: -584px -484px !important; } }

@media (max-width: 320px) {
  .campaign_list_cover .campaign_cover .campaign_block .campaign_title {
    height: 71px; } }

/*# sourceMappingURL=discover.css.map */
