.wrap_slider {
  margin-bottom: 60px; }

.laptop_popup {
  max-width: 810px;
  width: 100%;
  height: 610px;
  padding: 5px;
  overflow: hidden !important; }
  .laptop_popup iframe {
    height: 100%;
    width: 100%; }

.wrap_homepage .sections_title {
  text-align: center; }

.wrap_homepage .staff_pick_section .sections_title {
  text-align: left; }

.wrap_homepage .wrap_slider.homepage_sections {
  /* Thaithay */ }
  .wrap_homepage .wrap_slider.homepage_sections .mk-edge-sm-desc {
    line-height: 100%;
    margin-top: -4px;
    background: #fff;
    color: #000;
    padding: 4px 16px;
    display: inline-block;
    white-space: inherit;
    border: 0;
    vertical-align: baseline; }
  .wrap_homepage .wrap_slider.homepage_sections .edge-slide-content.edge-sm-size {
    color: white;
    position: relative; }
  .wrap_homepage .wrap_slider.homepage_sections .edge-content-holder-sm {
    position: absolute;
    bottom: 70px;
    margin-right: 20px; }
  .wrap_homepage .wrap_slider.homepage_sections .mk-edge-slider {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden; }
    .wrap_homepage .wrap_slider.homepage_sections .mk-edge-slider .kbank img {
      left: 45px;
      bottom: 36px;
      height: 36px;
      position: absolute;
      z-index: 40; }
  .wrap_homepage .wrap_slider.homepage_sections .swiper-slide-inner-wrap {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
    -webkit-transition: opacity 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.3s; }
  .wrap_homepage .wrap_slider.homepage_sections .swiper-slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff; }
    .wrap_homepage .wrap_slider.homepage_sections .swiper-slide.swiper-slide-active .swiper-slide-inner-wrap {
      opacity: 1; }
  .wrap_homepage .wrap_slider.homepage_sections .mk-edge-title div > span {
    background: rgba(91, 91, 83, 0.8);
    line-height: 36px;
    display: inline-block;
    box-sizing: content-box; }
  .wrap_homepage .wrap_slider.homepage_sections .mk-edge-title div.asiola-gradiant > span,
  .wrap_homepage .wrap_slider.homepage_sections .edge-slide-3555 .mk-edge-title div > span,
  .wrap_homepage .wrap_slider.homepage_sections .edge-slide-3559 .mk-edge-title div > span {
    background: linear-gradient(left, rgba(149, 138, 235, 0.8), rgba(19, 122, 246, 0.8));
    background: -webkit-linear-gradient(left, rgba(149, 138, 235, 0.8), rgba(19, 122, 246, 0.8)); }
  .wrap_homepage .wrap_slider.homepage_sections .edge-slide-3565, .wrap_homepage .wrap_slider.homepage_sections .edge-slide-3562 {
    background-color: #EBEBEB; }
  .wrap_homepage .wrap_slider.homepage_sections .edge-slide-6087, .wrap_homepage .wrap_slider.homepage_sections .edge-slide-6085 {
    background-color: #fbb496; }
  .wrap_homepage .wrap_slider.homepage_sections .edge-slide-3565 .mk-edge-title div > span,
  .wrap_homepage .wrap_slider.homepage_sections .edge-slide-3562 .mk-edge-title div > span {
    background: rgba(17, 188, 178, 0.8); }
  .wrap_homepage .wrap_slider.homepage_sections .mk-edge-title {
    margin-bottom: 20px; }
    .wrap_homepage .wrap_slider.homepage_sections .mk-edge-title span {
      color: #fff; }
  .wrap_homepage .wrap_slider.homepage_sections .mk-edge-desc {
    display: inline;
    background-color: #fff;
    padding: 6px 16px;
    white-space: nowrap;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    line-height: 32px;
    margin-left: 64px; }
  .wrap_homepage .wrap_slider.homepage_sections .edge-buttons {
    line-height: 40px !important;
    margin-top: 30px;
    margin-left: 64px; }
    .wrap_homepage .wrap_slider.homepage_sections .edge-buttons .btn_asiola {
      padding: 5px 40px;
      height: inherit; }
  .wrap_homepage .wrap_slider.homepage_sections [class^=mk-button] {
    border-radius: 10px;
    background: #137AF6;
    color: #fff;
    letter-spacing: 1px;
    text-transform: none;
    height: 55px;
    line-height: 55px;
    padding: 0 48px;
    vertical-align: middle; }
  .wrap_homepage .wrap_slider.homepage_sections .mk-button2 {
    background: #fff;
    color: #137af6;
    border: 1px solid #137af6; }
  .wrap_homepage .wrap_slider.homepage_sections .swiper-button-prev,
  .wrap_homepage .wrap_slider.homepage_sections .swiper-button-next {
    margin: 0 20px;
    width: 67px;
    height: 67px;
    border-radius: 40px;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    overflow: hidden;
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    line-height: 67px;
    vertical-align: middle;
    font-size: 16px;
    color: #333;
    opacity: 0; }
  .wrap_homepage .wrap_slider.homepage_sections:hover .swiper-button-prev,
  .wrap_homepage .wrap_slider.homepage_sections:hover .swiper-button-next {
    opacity: 1; }

.wrap_homepage .homepage_section {
  margin-bottom: 60px; }

.wrap_homepage .welcome_section .welcome_txt_cover {
  margin-bottom: 40px; }
  .wrap_homepage .welcome_section .welcome_txt_cover .welcome_title {
    text-align: center;
    margin: 30px 0; }
  .wrap_homepage .welcome_section .welcome_txt_cover .welcome_detail {
    margin-bottom: 10px; }
    .wrap_homepage .welcome_section .welcome_txt_cover .welcome_detail.left {
      text-align: right; }
    .wrap_homepage .welcome_section .welcome_txt_cover .welcome_detail.right {
      text-align: left; }

.wrap_homepage .welcome_section .video_section .video_section_cover {
  margin-bottom: 30px; }
  .wrap_homepage .welcome_section .video_section .video_section_cover .video_section_laptop {
    background: url("../img/home_laptop_thaitay.png") no-repeat;
    padding-top: 57.5113809%;
    background-size: cover;
    width: 100%;
    cursor: pointer;
    background-position: 0 0;
    background-attachment: local;
    margin-top: 24px; }
    .wrap_homepage .welcome_section .video_section .video_section_cover .video_section_laptop:hover {
      background-position: 0 50%; }
    .wrap_homepage .welcome_section .video_section .video_section_cover .video_section_laptop:active {
      background-position: 0 100%; }

.wrap_homepage .welcome_section .video_section .video_section_tab {
  padding: 25px 22px;
  overflow: hidden;
  pointer: default; }
  .wrap_homepage .welcome_section .video_section .video_section_tab:hover {
    background: #C8DDFF; }
    .wrap_homepage .welcome_section .video_section .video_section_tab:hover .video_section_tab_icon_cover .video_section_tab_icon.first {
      background-position: -170px -281px; }
    .wrap_homepage .welcome_section .video_section .video_section_tab:hover .video_section_tab_icon_cover .video_section_tab_icon.second {
      background-position: -170px -354px; }
    .wrap_homepage .welcome_section .video_section .video_section_tab:hover .video_section_tab_icon_cover .video_section_tab_icon.third {
      background-position: -170px -418px; }
  .wrap_homepage .welcome_section .video_section .video_section_tab .video_section_tab_icon_cover .video_section_tab_icon {
    height: 70px;
    width: 64px;
    margin: 0 auto; }
    .wrap_homepage .welcome_section .video_section .video_section_tab .video_section_tab_icon_cover .video_section_tab_icon.first {
      background-position: -237px -281px; }
    .wrap_homepage .welcome_section .video_section .video_section_tab .video_section_tab_icon_cover .video_section_tab_icon.second {
      background-position: -237px -354px; }
    .wrap_homepage .welcome_section .video_section .video_section_tab .video_section_tab_icon_cover .video_section_tab_icon.third {
      background-position: -237px -418px; }
  .wrap_homepage .welcome_section .video_section .video_section_tab .video_section_tab_title {
    margin: 5px 0 4px 0; }
  .wrap_homepage .welcome_section .video_section .video_section_tab .video_section_tab_detail {
    color: #6F6F6F; }

.wrap_homepage .discover_section {
  padding: 60px 0;
  background: #137af6;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #137af6), color-stop(100%, #9186e7));
  background: -webkit-linear-gradient(left, #137af6 0%, #9186e7 100%);
  background: linear-gradient(to right, #137af6 0%, #9186e7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#137af6', endColorstr='#9186e7',GradientType=1 );
  padding: 60px 0 40px;
  color: white; }
  .wrap_homepage .discover_section .discover_section_title {
    margin: 10px 0 0 0;
    line-height: 1em; }
  .wrap_homepage .discover_section .discover_btn {
    text-align: right;
    padding-top: 42px; }
  .wrap_homepage .discover_section .discover_icon_group table {
    margin: 0 auto 20px; }
    .wrap_homepage .discover_section .discover_icon_group table td {
      text-align: center; }
  .wrap_homepage .discover_section .discover_icon_group .discover_icon {
    height: 60px;
    margin: 5px 5px;
    display: inline-block; }
    .wrap_homepage .discover_section .discover_icon_group .discover_icon.music {
      background-position: -277px -4px;
      width: 83px; }
    .wrap_homepage .discover_section .discover_icon_group .discover_icon.food {
      background-position: -354px -4px;
      width: 76px; }
    .wrap_homepage .discover_section .discover_icon_group .discover_icon.fashion {
      background-position: -8px -81px;
      width: 83px; }
    .wrap_homepage .discover_section .discover_icon_group .discover_icon.art {
      background-position: -95px -81px;
      width: 60px; }

.wrap_homepage .see_all {
  float: right;
  border: 2px solid #C0C0C0;
  border-radius: 10px;
  padding: 7px 15px;
  color: #C0C0C0;
  cursor: pointer;
  margin-top: 3px; }
  .wrap_homepage .see_all:hover {
    color: white;
    background: #C0C0C0; }

.wrap_homepage .staff_pick_section {
  padding-top: 40px; }
  .wrap_homepage .staff_pick_section .staff_pick {
    margin-bottom: 40px; }
  .wrap_homepage .staff_pick_section .staff_pick_item {
    border-bottom: 1px solid #eee;
    padding: 40px 0 43px;
    max-width: 968px; }
    .wrap_homepage .staff_pick_section .staff_pick_item .staff_pick_content {
      float: left; }
      .wrap_homepage .staff_pick_section .staff_pick_item .staff_pick_content .staff_pick_content_cover {
        height: 158px; }
        .wrap_homepage .staff_pick_section .staff_pick_item .staff_pick_content .staff_pick_content_cover .txt_head_5 {
          margin-bottom: 10px;
          text-transform: uppercase; }
      .wrap_homepage .staff_pick_section .staff_pick_item .staff_pick_content .time_section {
        display: table;
        margin-top: 4px;
        width: 100%; }
        .wrap_homepage .staff_pick_section .staff_pick_item .staff_pick_content .time_section .goal_meter {
          padding: 10px;
          background: #F9F9F9;
          display: table-cell; }
        .wrap_homepage .staff_pick_section .staff_pick_item .staff_pick_content .time_section .time_period {
          height: 110px;
          width: 110px;
          background: #F9F9F9;
          border-left: 4px solid white;
          display: table-cell;
          color: #A0A0A0;
          text-align: center;
          vertical-align: middle;
          padding: 0 8px; }
          .wrap_homepage .staff_pick_section .staff_pick_item .staff_pick_content .time_section .time_period .time_display_txt {
            margin: 0 auto;
            line-height: 30px;
            border-top: 1px solid; }
    .wrap_homepage .staff_pick_section .staff_pick_item .staff_pick_images {
      float: right; }
      .wrap_homepage .staff_pick_section .staff_pick_item .staff_pick_images .txt_head_5 {
        margin-bottom: 12px; }
      .wrap_homepage .staff_pick_section .staff_pick_item .staff_pick_images .staff_pick_img {
        margin: 0 auto; }
        .wrap_homepage .staff_pick_section .staff_pick_item .staff_pick_images .staff_pick_img .staff_pick_img_main {
          padding-top: calc(50% + 4px);
          padding-top: -ms-calc(50% + 4px);
          width: 75%;
          background: black;
          background-repeat: no-repeat;
          float: left;
          background-size: cover;
          background-position: top left; }
        .wrap_homepage .staff_pick_section .staff_pick_item .staff_pick_images .staff_pick_img .campaign_tag {
          position: absolute;
          right: 160px;
          top: 10px; }
        .wrap_homepage .staff_pick_section .staff_pick_item .staff_pick_images .staff_pick_img .staff_pick_img_sub {
          background-position: 50% !important;
          padding-top: 25%;
          width: -ms-calc(25% - 4px);
          width: -o-calc(25% - 4px);
          width: calc(25% - 4px);
          background: black;
          float: left;
          background-size: cover;
          background-repeat: no-repeat; }
          .wrap_homepage .staff_pick_section .staff_pick_item .staff_pick_images .staff_pick_img .staff_pick_img_sub.top {
            margin: 0 0 4px 4px; }
          .wrap_homepage .staff_pick_section .staff_pick_item .staff_pick_images .staff_pick_img .staff_pick_img_sub.btm {
            margin: 0 0 0 4px; }

.wrap_homepage .successful_campaign {
  border-bottom: 1px solid #eee;
  padding: 40px 0 43px;
  /* End: .campaign_cover */ }
  .wrap_homepage .successful_campaign .swiper-container {
    width: 978px;
    padding-bottom: 40px;
    max-width: 100%; }
  .wrap_homepage .successful_campaign .campaign_cover {
    border: 1px solid #ededed; }
    .wrap_homepage .successful_campaign .campaign_cover table {
      border: 0;
      width: 100%; }
    .wrap_homepage .successful_campaign .campaign_cover td {
      border: none !important;
      padding: 0;
      position: relative; }
    .wrap_homepage .successful_campaign .campaign_cover .campaign_title a {
      height: 75px;
      max-width: 100%;
      vertical-align: middle;
      color: #000;
      padding: 13px 17px 11px;
      margin-bottom: 0;
      text-transform: uppercase;
      min-height: 62px;
      display: block;
      box-sizing: border-box;
      text-decoration: none; }
    .wrap_homepage .successful_campaign .campaign_cover .campaign_img_overlay {
      position: absolute;
      width: -ms-calc(100% - 2px);
      width: -o-calc(100% - 2px);
      width: calc(100% - 2px);
      width: 100%;
      height: 100%;
      background: -webkit-linear-gradient(left, #137af6 0%, #958aeb 100%);
      background: linear-gradient(to right, #137af6 0%, #958aeb 100%);
      opacity: 0.7; }
    .wrap_homepage .successful_campaign .campaign_cover .campaign_detail {
      color: #000;
      padding: 12px 17px 14px;
      height: 110px; }
    .wrap_homepage .successful_campaign .campaign_cover .campaign_recap {
      color: white;
      background: #137af6;
      text-align: center;
      padding: 10px;
      cursor: pointer;
      position: relative; }
    .wrap_homepage .successful_campaign .campaign_cover .campaign_recap:hover {
      background: #005ee0; }
    .wrap_homepage .successful_campaign .campaign_cover .campaign_recap a:link,
    .wrap_homepage .successful_campaign .campaign_cover .campaign_recap a:visited,
    .wrap_homepage .successful_campaign .campaign_cover .campaign_recap a:hover,
    .wrap_homepage .successful_campaign .campaign_cover .campaign_recap a:active {
      color: #fff;
      text-decoration: none; }
    .wrap_homepage .successful_campaign .campaign_cover .campaign_img_txt {
      position: absolute;
      z-index: 9999;
      width: 100%;
      text-align: center;
      margin-top: 90px;
      background: none; }
    .wrap_homepage .successful_campaign .campaign_cover .time-section {
      width: 100% !important; }
    .wrap_homepage .successful_campaign .campaign_cover .overlay {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: transparent;
      z-index: 1000;
      text-decoration: none;
      border: 0; }
    .wrap_homepage .successful_campaign .campaign_cover .goal-section {
      margin: 0;
      position: relative; }
      .wrap_homepage .successful_campaign .campaign_cover .goal-section span.goal {
        display: block;
        color: #000000;
        margin-top: 6px; }
  .wrap_homepage .successful_campaign .lang-th .campaign_recap a:link,
  .wrap_homepage .successful_campaign .lang-th .campaign_recap a:visited,
  .wrap_homepage .successful_campaign .lang-th .campaign_recap a:hover,
  .wrap_homepage .successful_campaign .lang-th .campaign_recap a:active {
    color: #fff;
    text-decoration: none; }
  .wrap_homepage .successful_campaign .campaign_image {
    height: 200px;
    overflow: hidden;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; }
  .wrap_homepage .successful_campaign .time-section {
    text-align: center; }

.wrap_homepage .cf_intro_section {
  margin: 60px -15px 100px; }
  .wrap_homepage .cf_intro_section .limit_width_lg {
    max-width: 400px;
    padding: 0; }
  .wrap_homepage .cf_intro_section .cf_mobile_cover {
    float: right;
    padding-top: 35%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 0; }
  .wrap_homepage .cf_intro_section .cf_intro_title {
    margin-top: 40px; }
  .wrap_homepage .cf_intro_section .cf_intro_detail p {
    margin: 30px 0; }

.wrap_homepage .campaign_cover {
  width: -ms-calc(33.3333333333% - 32px);
  width: -o-calc(33.3333333333% - 32px);
  width: calc(33.3333333333% - 32px);
  margin: 16px;
  float: left; }

.wrap_homepage .subscribe_section {
  background: url(../img/home_subscribe_bg.png) no-repeat center top;
  background-size: cover;
  text-align: center;
  padding: 60px;
  color: white; }
  .wrap_homepage .subscribe_section .subscribe_detail {
    margin: 10px 0 35px 0; }
  .wrap_homepage .subscribe_section a:hover {
    color: #137AF6 !important; }

.wrap_homepage .asiola_talk_section .asiola_talk_img {
  text-align: center; }

.wrap_homepage .asiola_talk_section .asiola_talk_txt .txt_quote_2 {
  color: #137AF6;
  margin-bottom: 24px;
  margin-top: 17px; }

.wrap_homepage .asiola_talk_section .asiola_talk_txt .txt_default {
  color: #A0A0A0; }

.wrap_homepage .as_seen_in_section .txt_head_7 {
  text-align: center;
  color: #6F6F6F; }

.wrap_homepage .as_seen_in_section .as_seen_in_list {
  padding: 50px 0; }

.wrap_homepage .social_interact_section .social_post_title {
  border-bottom: 1px solid #E4E4E4;
  color: #C0C0C0;
  padding-bottom: 10px;
  margin-bottom: 10px;
  letter-spacing: 2px; }

.wrap_homepage .social_interact_section .social_ig {
  overflow: auto;
  margin: 0 0 40px 0; }
  .wrap_homepage .social_interact_section .social_ig .social_ig_cover .social_ig_item {
    width: 20%;
    padding: 1px;
    float: left; }
    .wrap_homepage .social_interact_section .social_ig .social_ig_cover .social_ig_item .social_ig_overlay {
      width: 100%;
      padding-top: 100%;
      background: black;
      position: relative;
      opacity: 0;
      -webkit-transition: -webkit-transform 0.3s;
      transition: transform 0.3s; }
      .wrap_homepage .social_interact_section .social_ig .social_ig_cover .social_ig_item .social_ig_overlay:hover {
        opacity: 0.3;
        cursor: pointer; }
    .wrap_homepage .social_interact_section .social_ig .social_ig_cover .social_ig_item img {
      float: left;
      width: 100%; }

.wrap_homepage .social_interact_section .social_blog .social_blog_item {
  padding-bottom: 30px;
  margin-bottom: 30px;
  overflow: auto;
  border-bottom: 1px solid #E4E4E4; }
  .wrap_homepage .social_interact_section .social_blog .social_blog_item .social_blog_img_overlay {
    padding: 0px;
    position: relative;
    overflow: hidden; }
    .wrap_homepage .social_interact_section .social_blog .social_blog_item .social_blog_img_overlay:hover {
      cursor: pointer; }
      .wrap_homepage .social_interact_section .social_blog .social_blog_item .social_blog_img_overlay:hover .social_blog_img {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1); }
    .wrap_homepage .social_interact_section .social_blog .social_blog_item .social_blog_img_overlay .social_blog_img {
      background-size: cover;
      -webkit-transition: all .3s ease-out;
      -moz-transition: all .3s ease-out;
      -o-transition: all .3s ease-out;
      padding-top: 100%; }
  .wrap_homepage .social_interact_section .social_blog .social_blog_item .social_blog_detail .txt_body_5 {
    color: #A0A0A0;
    margin: 10px 0; }

.wrap_homepage .as_seen_in_section .as_seen_in_list_ {
  height: 67px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%); }
  .wrap_homepage .as_seen_in_section .as_seen_in_list_:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%); }

.wrap_homepage .wrap_slider.homepage_sections .mk-edge-title div > span {
  padding: 6px; }

.video_section .swiper-container {
  clear: both;
  display: none; }

@media (min-width: 992px) {
  #header {
    background: none; }
    #header.sticky {
      background: #fff; }
  html .wrap_body {
    padding-top: 0px; } }

@media (max-width: 991px) {
  html .wrap_body {
    padding-top: 96px; }
  .welcome_detail {
    text-align: center !important; }
  .video_section_tab {
    text-align: center !important; }
  .discover_txt {
    text-align: center !important; }
  .cf_mobile_cover {
    float: inherit !important; }
  .cf_intro_title {
    margin-top: 0px !important;
    margin-bottom: 40px; }
  .limit_width_lg {
    max-width: none !important;
    left: 0px !important;
    text-align: center; }
  .asiola_talk_txt {
    text-align: center; }
  .wrap_homepage .welcome_section .video_section .video_section_tab:hover {
    background: none; }
    .wrap_homepage .welcome_section .video_section .video_section_tab:hover .video_section_tab_icon_cover .video_section_tab_icon.first {
      background-position: -237px -281px; }
    .wrap_homepage .welcome_section .video_section .video_section_tab:hover .video_section_tab_icon_cover .video_section_tab_icon.second {
      background-position: -237px -354px; }
    .wrap_homepage .welcome_section .video_section .video_section_tab:hover .video_section_tab_icon_cover .video_section_tab_icon.third {
      background-position: -237px -418px; }
  .wrap_homepage .discover_section .discover_btn {
    text-align: center; }
  .wrap_homepage .wrap_slider.homepage_sections {
    /* Street Strength, Yellow Fang, Thaithay */
    /* Street Strength, Yellow Fang, Thaithay */ }
    .wrap_homepage .wrap_slider.homepage_sections .swiper-slide-inner-wrap {
      max-width: calc(100% - 32px);
      top: 112px;
      -webkit-transform: none;
      transform: none; }
    .wrap_homepage .wrap_slider.homepage_sections .edge-slide-5665, .wrap_homepage .wrap_slider.homepage_sections .edge-slide-3565, .wrap_homepage .wrap_slider.homepage_sections .edge-slide-3572,
    .wrap_homepage .wrap_slider.homepage_sections .edge-slide-5663, .wrap_homepage .wrap_slider.homepage_sections .edge-slide-3568, .wrap_homepage .wrap_slider.homepage_sections .edge-slide-3562 {
      background-color: #fff;
      background-position: 100% 0 !important;
      background-size: cover; }
    .wrap_homepage .wrap_slider.homepage_sections .edge-slide-3565,
    .wrap_homepage .wrap_slider.homepage_sections .edge-slide-3562 {
      background-color: #ebebeb; }
    .wrap_homepage .wrap_slider.homepage_sections .edge-slide-7502,
    .wrap_homepage .wrap_slider.homepage_sections .edge-slide-7509 {
      background-color: #fdfdfd; }
    .wrap_homepage .wrap_slider.homepage_sections .edge-slide-6087, .wrap_homepage .wrap_slider.homepage_sections .edge-slide-6085, .wrap_homepage .wrap_slider.homepage_sections .edge-slide-6083, .wrap_homepage .wrap_slider.homepage_sections .edge-slide-6069,
    .wrap_homepage .wrap_slider.homepage_sections .edge-slide-5665, .wrap_homepage .wrap_slider.homepage_sections .edge-slide-3565, .wrap_homepage .wrap_slider.homepage_sections .edge-slide-3572,
    .wrap_homepage .wrap_slider.homepage_sections .edge-slide-5663, .wrap_homepage .wrap_slider.homepage_sections .edge-slide-3568, .wrap_homepage .wrap_slider.homepage_sections .edge-slide-3562,
    .wrap_homepage .wrap_slider.homepage_sections .edge-slide-7502, .wrap_homepage .wrap_slider.homepage_sections .edge-slide-7509 {
      background-position: 100% 0 !important;
      background-size: cover; }
    .wrap_homepage .wrap_slider.homepage_sections .mk-edge-title {
      margin-bottom: 16px; }
      .wrap_homepage .wrap_slider.homepage_sections .mk-edge-title div > span {
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone; }
    .wrap_homepage .wrap_slider.homepage_sections .mk-edge-desc {
      padding: 6px 4px;
      white-space: normal;
      margin-left: 0; }
      .wrap_homepage .wrap_slider.homepage_sections .mk-edge-desc br {
        display: none; }
    .wrap_homepage .wrap_slider.homepage_sections .edge-buttons {
      margin: 16px 0;
      text-align: center; }
      .wrap_homepage .wrap_slider.homepage_sections .edge-buttons a:not(:only-child) {
        max-width: calc(50% - 4px);
        padding: 5px 0 !important;
        width: 146px;
        white-space: nowrap; }
    .wrap_homepage .wrap_slider.homepage_sections .swiper-button-next,
    .wrap_homepage .wrap_slider.homepage_sections .swiper-button-prev {
      display: none; }
  .wrap_homepage .wrap_slider.homepage_sections .swiper-slide-inner-wrap {
    top: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    width: 100%; }
  .wrap_homepage .wrap_slider.homepage_sections .edge-slider-holder {
    min-height: 320px; }
  .wrap_homepage .wrap_slider.homepage_sections .mk-edge-slider .kbank img {
    bottom: 18px;
    left: auto;
    right: 18px;
    height: 36px; }
  .wrap_homepage .wrap_slider.homepage_sections .edge-buttons {
    margin: 16px 0 15px;
    text-align: left; }
    .wrap_homepage .wrap_slider.homepage_sections .edge-buttons .btn_asiola {
      line-height: 30px;
      padding: 5px 20px; }
  .wrap_homepage .staff_pick_section .staff_pick_item {
    border: 0; }
    .wrap_homepage .staff_pick_section .staff_pick_item .txt_head_5 {
      height: 2em; }
    .wrap_homepage .staff_pick_section .staff_pick_item .txt_default {
      height: 5em; }
    .wrap_homepage .staff_pick_section .staff_pick_item .staff_pick_content .campaign_tag {
      display: inline-block !important; }
    .wrap_homepage .staff_pick_section .staff_pick_item .staff_pick_images,
    .wrap_homepage .staff_pick_section .staff_pick_item .staff_pick_content {
      float: none;
      padding: 0; }
  .staff_pick_img_sub {
    padding-top: 50% !important;
    width: calc(50% - 2px) !important; }
    .staff_pick_img_sub.top {
      margin: 4px 2px 0 0 !important; }
    .staff_pick_img_sub.btm {
      margin: 4px 0 0 2px !important; }
  .wrap_homepage .staff_pick_section .staff_pick_item .staff_pick_images .staff_pick_img .staff_pick_img_main {
    width: 100% !important;
    padding-top: calc(64.285714% + 4px) !important;
    padding-top: -ms-calc(64.285714% + 4px) !important;
    float: none; }
  .video_section .col-md-6.right {
    display: none; }
  .video_section .swiper-container {
    clear: both;
    display: block; } }

@media (max-width: 767px) {
  html .wrap_body {
    padding-top: 0px; }
  .wrap_homepage .welcome_section .video_section .video_section_tab {
    padding: 25px 0; }
  .social_ig_item {
    width: 33.33% !important; }
  .welcome_detail {
    text-align: center !important; } }

@media (max-width: 450px) {
  .wrap_homepage .homepage_section {
    margin-bottom: 30px; }
  .wrap_homepage .discover_section {
    padding: 30px 0 50px; }
    .wrap_homepage .discover_section .discover_btn {
      text-align: center; }
  .wrap_homepage .staff_pick_section {
    padding-top: 30px; }
    .wrap_homepage .staff_pick_section .staff_pick_item .staff_pick_content .time_section .time_period {
      padding: 0 4px; }
  .wrap_homepage .welcome_section .welcome_txt_cover {
    margin-bottom: 20px; }
    .wrap_homepage .welcome_section .welcome_txt_cover .welcome_title {
      margin-top: 0; }
  .wrap_homepage .welcome_section .video_section .video_section_tab .video_section_tab_title {
    margin: 16px 0 12px; }
  .wrap_homepage .wrap_slider.homepage_sections {
    /*
      .edge-slider-loading{
        position: absolute;
        background: rgba(255,255,255,0.7);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        .mk-preloader{
          background-image: url(https://www.fluffybooru.org/_images/31f7f7aefe0752eca7692ea36569edeb/4589%20-%20animated%20animation%20gif%20kmeb.gif);
          width: 50%;
          background-size: contain;
          left: 50%;
          position: relative;
          transform: translate3d(-50%,-50%,0);
          margin-top: 50%;
          .mk-loader{
            padding-top:100%;
          }
        }
      }
      */ }
    .wrap_homepage .wrap_slider.homepage_sections .mk-edge-title {
      font-size: 0;
      line-height: 0;
      margin-bottom: 8px; }
      .wrap_homepage .wrap_slider.homepage_sections .mk-edge-title div {
        display: inline;
        font-size: 0;
        line-height: 0; }
        .wrap_homepage .wrap_slider.homepage_sections .mk-edge-title div > span {
          display: inline; }
        .wrap_homepage .wrap_slider.homepage_sections .mk-edge-title div.asiola-gradiant {
          display: block; }
    .wrap_homepage .wrap_slider.homepage_sections .edge-buttons {
      margin: 16px 0 15px;
      text-align: left; }
      .wrap_homepage .wrap_slider.homepage_sections .edge-buttons .btn_asiola {
        line-height: 30px;
        padding: 5px 20px; }
    .wrap_homepage .wrap_slider.homepage_sections .mk-edge-slider .kbank img {
      bottom: 15px;
      left: auto;
      right: 15px;
      height: 30px; }
  .wrap_homepage .sections_title {
    vertical-align: middle;
    line-height: 32px; }
    .wrap_homepage .sections_title a {
      float: right;
      vertical-align: middle;
      display: inline-block; }
      .wrap_homepage .sections_title a .see_all {
        margin: 0;
        line-height: 1; }
  .wrap_homepage .successful_campaign {
    padding-top: 20px; }
    .wrap_homepage .successful_campaign .sections_title {
      text-align: center; }
  .wrap_homepage .cf_intro_section {
    margin-bottom: 70px;
    margin-left: 0;
    margin-right: 0; }
    .wrap_homepage .cf_intro_section .cf_mobile_cover {
      padding-top: 70%; }
  .wrap_homepage .subscribe_section {
    margin-bottom: 70px; }
  .wrap_homepage .as_seen_in_section .as_seen_in_list {
    padding: 20px 0; }
  .wrap_homepage .as_seen_in_section .swiper-slide {
    padding: 0 8px; }
  .wrap_homepage .social_interact_section {
    margin-bottom: 120px; }
    .wrap_homepage .social_interact_section .social_ig {
      margin-bottom: 70px; }
    .wrap_homepage .social_interact_section .social_blog .social_post_title {
      margin-bottom: 0; }
    .wrap_homepage .social_interact_section .social_blog .social_blog_item {
      margin: 0;
      padding: 24px 0 30px; } }

/*# sourceMappingURL=home.css.map */
