html #global .horz_marginless {
  margin: 0; }

html #global .horz_wht {
  white-space: normal; }

html #global .horz_row {
  font-size: 0;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap; }
  html #global .horz_row:before, html #global .horz_row:after {
    display: table;
    height: 0; }

html #global .horz_col_1,
html #global .horz_col_2,
html #global .horz_col_3,
html #global .horz_col_4 {
  display: inline-block;
  float: none;
  margin: 0 0 0 15px;
  vertical-align: top; }

html #global .horz_col_1 {
  width: 90% !important; }

html #global .horz_col_2 {
  width: 45% !important; }

html #global .horz_col_3 {
  width: 30% !important; }

html #global .horz_col_4 {
  width: 22.5% !important; }

@media (max-width: 991px) {
  html #global .horz_marginless_sm {
    margin: 0; }
  html #global .horz_col_sm_1 {
    width: 90% !important; }
  html #global .horz_col_sm_2 {
    width: 45% !important; }
  html #global .horz_col_sm_3 {
    width: 30% !important; }
  html #global .horz_col_sm_4 {
    width: 22.5% !important; }
  html #global .horz_row_sm {
    font-size: 0;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap; }
    html #global .horz_row_sm:before, html #global .horz_row_sm:after {
      display: table;
      height: 0; }
    html #global .horz_row_sm.horz_padded .horz_col_sm_1:first-child,
    html #global .horz_row_sm.horz_padded .horz_col_sm_2:first-child,
    html #global .horz_row_sm.horz_padded .horz_col_sm_3:first-child,
    html #global .horz_row_sm.horz_padded .horz_col_sm_4:first-child {
      margin-left: 15px; }
    html #global .horz_row_sm.horz_padded .horz_col_sm_1:last-child,
    html #global .horz_row_sm.horz_padded .horz_col_sm_2:last-child,
    html #global .horz_row_sm.horz_padded .horz_col_sm_3:last-child,
    html #global .horz_row_sm.horz_padded .horz_col_sm_4:last-child {
      margin-right: 15px; }
    html #global .horz_row_sm.horz_padded .horz_col_sm_1 {
      width: -ms-calc($percent - 15px) !important;
      width: -o-calc($percent - 15px) !important;
      width: calc(90% - 15px) !important; }
    html #global .horz_row_sm.horz_padded .horz_col_sm_2 {
      width: -ms-calc($percent - 15px) !important;
      width: -o-calc($percent - 15px) !important;
      width: calc(45% - 15px) !important; }
    html #global .horz_row_sm.horz_padded .horz_col_sm_3 {
      width: -ms-calc($percent - 15px) !important;
      width: -o-calc($percent - 15px) !important;
      width: calc(30% - 15px) !important; }
    html #global .horz_row_sm.horz_padded .horz_col_sm_4 {
      width: -ms-calc($percent - 15px) !important;
      width: -o-calc($percent - 15px) !important;
      width: calc(22.5% - 15px) !important; }
  html #global .horz_col_sm_1,
  html #global .horz_col_sm_2,
  html #global .horz_col_sm_3,
  html #global .horz_col_sm_4 {
    display: inline-block;
    float: none;
    margin: 0 0 0 15px;
    vertical-align: top; }
  html #global .content_section_wrap .horz_row {
    padding-left: 0; }
    html #global .content_section_wrap .horz_row .horz_col:last-child {
      margin-right: 0; } }

@media (max-width: 640px) {
  html #global .horz_marginless_xxs {
    margin: 0; }
  html #global .horz_col_xxs_1 {
    width: 90% !important; }
  html #global .horz_col_xxs_2 {
    width: 45% !important; }
  html #global .horz_col_xxs_3 {
    width: 30% !important; }
  html #global .horz_col_xxs_4 {
    width: 22.5% !important; }
  html #global .horz_row,
  html #global .horz_row_sm,
  html #global .horz_row_xxs {
    font-size: 0;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap; }
    html #global .horz_row:before, html #global .horz_row:after,
    html #global .horz_row_sm:before,
    html #global .horz_row_sm:after,
    html #global .horz_row_xxs:before,
    html #global .horz_row_xxs:after {
      display: table;
      height: 0; }
    html #global .horz_row .horz_col_xxs_1,
    html #global .horz_row .horz_col_xxs_2,
    html #global .horz_row .horz_col_xxs_3,
    html #global .horz_row .horz_col_xxs_4,
    html #global .horz_row_sm .horz_col_xxs_1,
    html #global .horz_row_sm .horz_col_xxs_2,
    html #global .horz_row_sm .horz_col_xxs_3,
    html #global .horz_row_sm .horz_col_xxs_4,
    html #global .horz_row_xxs .horz_col_xxs_1,
    html #global .horz_row_xxs .horz_col_xxs_2,
    html #global .horz_row_xxs .horz_col_xxs_3,
    html #global .horz_row_xxs .horz_col_xxs_4 {
      display: inline-block;
      float: none;
      margin: 0 0 0 15px;
      vertical-align: top; }
    html #global .horz_row.horz_padded .horz_col_xxs_1:first-child,
    html #global .horz_row.horz_padded .horz_col_xxs_2:first-child,
    html #global .horz_row.horz_padded .horz_col_xxs_3:first-child,
    html #global .horz_row.horz_padded .horz_col_xxs_4:first-child,
    html #global .horz_row_sm.horz_padded .horz_col_xxs_1:first-child,
    html #global .horz_row_sm.horz_padded .horz_col_xxs_2:first-child,
    html #global .horz_row_sm.horz_padded .horz_col_xxs_3:first-child,
    html #global .horz_row_sm.horz_padded .horz_col_xxs_4:first-child,
    html #global .horz_row_xxs.horz_padded .horz_col_xxs_1:first-child,
    html #global .horz_row_xxs.horz_padded .horz_col_xxs_2:first-child,
    html #global .horz_row_xxs.horz_padded .horz_col_xxs_3:first-child,
    html #global .horz_row_xxs.horz_padded .horz_col_xxs_4:first-child {
      margin-left: 15px; }
    html #global .horz_row.horz_padded .horz_col_xxs_1:last-child,
    html #global .horz_row.horz_padded .horz_col_xxs_2:last-child,
    html #global .horz_row.horz_padded .horz_col_xxs_3:last-child,
    html #global .horz_row.horz_padded .horz_col_xxs_4:last-child,
    html #global .horz_row_sm.horz_padded .horz_col_xxs_1:last-child,
    html #global .horz_row_sm.horz_padded .horz_col_xxs_2:last-child,
    html #global .horz_row_sm.horz_padded .horz_col_xxs_3:last-child,
    html #global .horz_row_sm.horz_padded .horz_col_xxs_4:last-child,
    html #global .horz_row_xxs.horz_padded .horz_col_xxs_1:last-child,
    html #global .horz_row_xxs.horz_padded .horz_col_xxs_2:last-child,
    html #global .horz_row_xxs.horz_padded .horz_col_xxs_3:last-child,
    html #global .horz_row_xxs.horz_padded .horz_col_xxs_4:last-child {
      margin-right: 15px; }
    html #global .horz_row.horz_padded .horz_col_xxs_1,
    html #global .horz_row_sm.horz_padded .horz_col_xxs_1,
    html #global .horz_row_xxs.horz_padded .horz_col_xxs_1 {
      width: -ms-calc($percent - 15px) !important;
      width: -o-calc($percent - 15px) !important;
      width: calc(90% - 15px) !important; }
    html #global .horz_row.horz_padded .horz_col_xxs_2,
    html #global .horz_row_sm.horz_padded .horz_col_xxs_2,
    html #global .horz_row_xxs.horz_padded .horz_col_xxs_2 {
      width: -ms-calc($percent - 15px) !important;
      width: -o-calc($percent - 15px) !important;
      width: calc(45% - 15px) !important; }
    html #global .horz_row.horz_padded .horz_col_xxs_3,
    html #global .horz_row_sm.horz_padded .horz_col_xxs_3,
    html #global .horz_row_xxs.horz_padded .horz_col_xxs_3 {
      width: -ms-calc($percent - 15px) !important;
      width: -o-calc($percent - 15px) !important;
      width: calc(30% - 15px) !important; }
    html #global .horz_row.horz_padded .horz_col_xxs_4,
    html #global .horz_row_sm.horz_padded .horz_col_xxs_4,
    html #global .horz_row_xxs.horz_padded .horz_col_xxs_4 {
      width: -ms-calc($percent - 15px) !important;
      width: -o-calc($percent - 15px) !important;
      width: calc(22.5% - 15px) !important; } }

/*# sourceMappingURL=horz_scroll.css.map */
