.wrap_body header {
  position: static;
  padding: 0; }

.wrap_faq {
  margin-bottom: 32px; }
  .wrap_faq .txt_head_1 {
    line-height: 65px; }
  .wrap_faq .wrap_selector .selector {
    display: inline;
    cursor: pointer;
    line-height: 24px; }
    .wrap_faq .wrap_selector .selector::before {
      content: "(+)"; }
    .wrap_faq .wrap_selector .selector::after {
      content: "";
      display: block; }
    .wrap_faq .wrap_selector .selector.active {
      color: #137AF6; }
      .wrap_faq .wrap_selector .selector.active::before {
        content: "(-)"; }
  .wrap_faq .wrap_content {
    display: none; }
    .wrap_faq .wrap_content.active {
      display: block;
      margin-bottom: 24px; }
    .wrap_faq .wrap_content .topic {
      margin-left: 1em;
      margin-top: 8px;
      margin-bottom: 8px; }
      .wrap_faq .wrap_content .topic .title {
        font-family: galileo_bold;
        display: inline;
        cursor: pointer; }
        .wrap_faq .wrap_content .topic .title::before {
          content: "(+) "; }
      .wrap_faq .wrap_content .topic .content {
        display: none;
        margin-left: 1em; }
      .wrap_faq .wrap_content .topic.active .title {
        color: #137AF6; }
      .wrap_faq .wrap_content .topic.active .content {
        display: block; }
      .wrap_faq .wrap_content .topic.active .title::before {
        content: "(-) "; }

.wrap_contact header {
  position: static; }

.wrap_contact h1 {
  text-align: center;
  color: #000000;
  margin-bottom: 33px;
  text-transform: none; }

.wrap_contact article {
  width: 800px;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  height: 150px;
  box-sizing: content-box;
  padding-bottom: 36px;
  border-bottom: 1px solid #eee;
  margin-bottom: 36px; }

.wrap_contact article:last-of-type {
  padding-bottom: 0;
  border-bottom: 0;
  margin-bottom: 72px; }

.wrap_contact article::after {
  content: "";
  with: 100%;
  overflow: hidden;
  clear: both;
  display: block; }

.wrap_contact article figure {
  width: 50%;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  background-size: contain; }

.wrap_contact article div {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1;
  float: left;
  text-align: left;
  width: 270px;
  top: 75px;
  position: relative;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%); }

.wrap_contact article div span {
  display: block; }

.wrap_contact article div strong {
  font-family: campton_medium; }

.wrap_contact article div strong a:link {
  color: #878787; }

.wrap_contact article div strong a:hover {
  color: #137af6; }

.wrap_contact article div strong a:active {
  color: #005ee0; }

.wrap_contact .email figure {
  background-image: url("/wp-content/themes/ken-child/images/contact/01-email.png"); }

.wrap_contact .phone figure {
  background-image: url("../img/contact/02-phone.png"); }

.wrap_contact .line figure {
  background-image: url("../img/contact/03-line.png"); }

.wrap_contact .chat figure {
  background-image: url("../img/contact/04-chat-en.png");
  background-size: 300px; }

.wrap_contact .address div {
  float: none;
  width: 100%;
  font-size: 15px;
  text-align: center; }

.wrap_page_team {
  width: 1040px;
  margin: 34px auto 99px; }
  .wrap_page_team #page-title {
    color: #137af6;
    text-transform: uppercase;
    margin-bottom: 16px; }
  .wrap_page_team #words {
    color: #137af6;
    text-transform: uppercase; }
  .wrap_page_team #page-header {
    width: 270px;
    height: 270px;
    overflow: hidden;
    float: left;
    padding: 0; }
  .wrap_page_team .employee {
    width: 270px;
    height: 385px;
    float: left;
    margin-left: 115px; }
  .wrap_page_team .employee:nth-child(3),
  .wrap_page_team .employee:nth-child(6),
  .wrap_page_team .employee:nth-child(9),
  .wrap_page_team .employee:nth-child(12),
  .wrap_page_team .employee:nth-child(15) {
    margin-left: 0; }
  .wrap_page_team #employees figure {
    background-size: contain;
    margin-bottom: 10px;
    background-repeat: no-repeat; }
  .wrap_page_team #employees img {
    display: block;
    height: 270px;
    width: 270px;
    background: #000;
    visibility: hidden;
    height: auto;
    width: 100%; }
  .wrap_page_team .employee b {
    display: block;
    font-style: normal;
    color: #000;
    text-transform: uppercase; }
  .wrap_page_team .employee i {
    display: block;
    font-family: campton_book;
    font-size: 16px;
    font-style: normal;
    color: #137af6;
    letter-spacing: 1px; }

ol, ul {
  list-style-position: inside; }

li > ol,
li > ul {
  margin-left: 1em;
  margin-bottom: 1em; }

ol {
  list-style-type: decimal; }

@media (max-width: 991px) {
  .wrap_faq .wrap_selector .selector {
    line-height: 1.6em; }
  .wrap_faq .wrap_content .topic {
    margin: 0 0 0 0.5em; }
    .wrap_faq .wrap_content .topic .title {
      line-height: 1.5em; } }

@media (max-width: 767px) {
  html .wrap_body {
    padding-top: 73px; } }

@media (max-width: 450px) {
  .wrap_contact #contacts {
    margin-top: 56px; }
  .wrap_contact article {
    width: 100%;
    overflow: hidden;
    display: block;
    height: auto;
    box-sizing: border-box;
    padding-bottom: 28px;
    border-bottom: 1px solid #eee;
    margin-bottom: 28px; }
    .wrap_contact article:last-of-type {
      padding-bottom: 0;
      border-bottom: 0;
      margin-bottom: 56px; }
    .wrap_contact article::after {
      display: none; }
    .wrap_contact article figure {
      width: auto;
      float: none;
      background-position: center;
      background-repeat: no-repeat;
      height: 150px;
      background-size: contain;
      margin: 0 24px; }
    .wrap_contact article .chat figure {
      background-size: contain; }
    .wrap_contact article div {
      font-size: 20px;
      letter-spacing: 1px;
      line-height: 28px;
      float: none;
      text-align: left;
      width: 100%;
      -webkit-transform: none;
      transform: none;
      position: static;
      text-align: center;
      margin-top: 24px; }
      .wrap_contact article div span,
      .wrap_contact article div strong {
        letter-spacing: 1px; }
  .wrap_page_team {
    max-width: 100%;
    width: auto;
    margin-top: 40px; }
    .wrap_page_team #page-header {
      width: auto;
      height: auto;
      float: none; }
    .wrap_page_team #employees {
      margin-top: 32px; }
    .wrap_page_team .employee {
      width: 100%;
      overflow: hidden;
      height: auto;
      float: none;
      margin-left: 0;
      margin-bottom: 16px;
      padding-bottom: 16px;
      border-bottom: 2px solid #ccc; }
    .wrap_page_team #employees figure {
      display: inline-block;
      float: left;
      width: 50%;
      margin-bottom: 0; }
    .wrap_page_team #employees img {
      display: block;
      background: #000; }
    .wrap_page_team .employee article {
      display: inline-block;
      width: 50%;
      height: auto;
      box-sizing: border-box;
      padding-left: 16px; }
    .wrap_page_team .employee b {
      word-break: break-word; } }

/*# sourceMappingURL=static.css.map */
