@font-face {
  font-family: galileo_bold;
  src: url("../fonts/galileo/Galileo-Bold.otf"); }

@font-face {
  font-family: galileo_book;
  src: url("../fonts/galileo/Galileo-Book.otf"); }

@font-face {
  font-family: galileo_regular;
  src: url("../fonts/galileo/Galileo-Regular.otf"); }

@font-face {
  font-family: campton_book;
  src: url("../fonts/campton/2F25CE_6_0.eot");
  src: url("../fonts/campton/2F25CE_6_0.eot?#iefix") format("embedded-opentype"), url("../fonts/campton/2F25CE_6_0.woff2") format("woff2"), url("../fonts/campton/2F25CE_6_0.woff") format("woff"), url("webfonts/2F25CE_6_0.ttf") format("truetype"); }

@font-face {
  font-family: campton_light;
  src: url("../fonts/campton/2F25CE_B_0.eot");
  src: url("../fonts/campton/2F25CE_B_0.eot?#iefix") format("embedded-opentype"), url("../fonts/campton/2F25CE_B_0.woff2") format("woff2"), url("../fonts/campton/2F25CE_B_0.woff") format("woff"), url("webfonts/2F25CE_B_0.ttf") format("truetype"); }

@font-face {
  font-family: campton_medium;
  src: url("../fonts/campton/2F25CE_7_0.eot");
  src: url("../fonts/campton/2F25CE_7_0.eot?#iefix") format("embedded-opentype"), url("../fonts/campton/2F25CE_7_0.woff2") format("woff2"), url("../fonts/campton/2F25CE_7_0.woff") format("woff"), url("../fonts/campton/2F25CE_7_0.ttf") format("truetype"); }

@font-face {
  font-family: campton_bold;
  src: url("../fonts/campton/2F25CE_5_0.eot");
  src: url("../fonts/campton/2F25CE_5_0.eot?#iefix") format("embedded-opentype"), url("../fonts/campton/2F25CE_5_0.woff2") format("woff2"), url("../fonts/campton/2F25CE_5_0.woff") format("woff"), url("../fonts/campton/2F25CE_5_0.ttf") format("truetype"); }

@font-face {
  font-family: campton_semibold;
  src: url("../fonts/campton/2F25CE_2_0.eot");
  src: url("../fonts/campton/2F25CE_2_0.eot?#iefix") format("embedded-opentype"), url("../fonts/campton/2F25CE_2_0.woff2") format("woff2"), url("../fonts/campton/2F25CE_2_0.woff") format("woff"), url("../fonts/campton/2F25CE_2_0.ttf") format("truetype"); }

@font-face {
  font-family: quicksand_bold;
  src: url("../fonts/quicksand/quicksand-bold-webfont.eot");
  src: url("../fonts/quicksand/quicksand-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/quicksand/quicksand-bold-webfont.woff2") format("woff2"), url("../fonts/quicksand/quicksand-bold-webfont.woff") format("woff"), url("../fonts/quicksand/quicksand-bold-webfont.ttf") format("truetype"), url("../fonts/quicksand/quicksand-bold-webfont.svg#quicksandbold") format("svg");
  font-weight: normal;
  font-style: normal; }

/* ken - styles.css */
body {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

/* overriding kenchild-style .. can remove this later */
.inner-theme-payement {
  padding-bottom: 0px; }

a:active, a:focus, a:hover, a:link, a:visited {
  text-decoration: none;
  outline: 0; }

#theme-page h1, #theme-page h2, #theme-page h3, #theme-page h4, #theme-page h5, #theme-page h6 {
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
  margin: 0 0 .8em;
  word-wrap: break-word; }

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

#theme-page .theme-page-wrapper {
  margin: 20px auto; }

body, html {
  -webkit-font-smoothing: antialiased; }

/* ken-child - styles.css */
.payment-section, .comment-section, .privacy-section, .history-section {
  margin-bottom: 40px; }

body strong {
  font-weight: normal; }

.lang-th #asiola_account_info-5 li a span {
  font-size: 20px;
  font-family: galileo_regular;
  letter-spacing: 1px; }

/* 24-09-2015 */
.clearfix::before {
  /* content: ""; */
  display: table; }

.clearfix::after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden; }

.inner-banner {
  background-color: #e7f2fd;
  color: #000000;
  margin-bottom: 21px;
  text-align: center; }

.border-block {
  border: 1px solid #eee; }

.page-checkout .title-block,
.page-cart .title-block {
  /* background-color: #f4f4f4; */
  /* border-bottom: 1px solid #eee; */
  /* display: block; */
  margin-bottom: 0;
  padding: 8px;
  color: #000;
  font-weight: normal; }

.page-thankyou .woocommerce-thanks-text h4.title-block {
  letter-spacing: 0.5px; }

.page-thankyou.lang-th .woocommerce-thanks-text h4.title-block {
  letter-spacing: 1px; }

#thankyou .customer-details {
  line-height: 22px; }

.thanks-block {
  padding: 50px 10px 42px; }

.thanks-block h1 {
  margin-bottom: 20px;
  color: #000000;
  line-height: 0.875; }

.page-thankyou.lang-th .thanks-block h1 {
  letter-spacing: 2px; }

html[lang=th] h1 {
  letter-spacing: 4px; }

.thanks-block h1 {
  margin-bottom: 20px;
  color: #000000;
  line-height: 0.875; }

.thanks-block p {
  margin: 0 auto 16px;
  max-width: 700px;
  width: 100%;
  line-height: 20px;
  color: #000000; }

.page-thankyou.lang-th .thanks-block p {
  letter-spacing: 1px; }

[class^="icon-"] {
  background-image: url("assets/images/sprite2.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  margin-top: 1px;
  vertical-align: text-top;
  width: 14px; }

.social-icons li a {
  height: 43px;
  width: 43px; }

.icon-fb {
  background-image: url("../img/thankyou/fb.png");
  background-repeat: no-repeat;
  background-position: 0 0; }

.icon-fb:hover {
  background-image: url("../img/thankyou/fb-hover.png"); }

.icon-fb:active {
  background-image: url("../img/thankyou/fb-active.png"); }

.icon-twitter {
  background-image: url("../img/thankyou/tt.png");
  background-repeat: no-repeat;
  background-position: 0 0; }

.icon-twitter:hover {
  background-image: url("../img/thankyou/tt-hover.png"); }

.icon-twitter:active {
  background-image: url("../img/thankyou/tt-active.png"); }

.icon-share {
  background-image: url("../img/thankyou/link.png");
  background-repeat: no-repeat;
  background-position: 0 0; }

.icon-share:hover {
  background-image: url("../img/thankyou/link-hover.png"); }

.icon-share:active {
  background-image: url("../img/thankyou/link-active.png"); }

.icon-message {
  background-image: url("../img/thankyou/ml.png");
  background-repeat: no-repeat;
  background-position: 0 0; }

.icon-message:hover {
  background-image: url("../img/thankyou/ml-hover.png"); }

.icon-message:active {
  background-image: url("../img/thankyou/ml-active.png"); }

.social-icons li {
  display: inline-block;
  margin-right: 14px;
  line-height: 1.5em;
  margin-left: 0; }

.social-icons {
  list-style-type: none;
  margin: 0 0 24px; }

.bill-detail {
  margin-bottom: 70px;
  overflow: hidden; }

.detail-section {
  float: left;
  width: 61.6%; }

.inner-block {
  padding: 8px; }

.customer-details strong {
  color: #000000;
  display: inline-block;
  font-weight: normal;
  min-width: 271px; }

.customer-details a {
  color: #231f20;
  display: inline-block; }

.customer-details span {
  color: #000; }

.contact-details {
  float: right;
  width: 36.6%; }

.summary-section .title-block {
  border-bottom-width: 2px; }

.page-checkout .summary-section .title-block,
.page-cart .title-block {
  border: 1px solid #eee;
  border-width: 0 0 1px;
  background: #f3f3f3; }

.table-section {
  border: 0 none;
  margin: 0 auto;
  width: 88.5%;
  border-collapse: collapse;
  color: #444444;
  border-spacing: 0; }

.table-section thead tr {
  border: 0 none; }

.table-section tr {
  border-top: 1px solid #eee; }

.table-section .item {
  width: 62.5%; }

.table-section th {
  border: 0 none;
  color: #808080;
  padding: 3px 1px;
  text-align: left;
  text-transform: none;
  font-weight: normal; }

.page-checkout .table-section th {
  color: #a9a9a9; }

html[lang=th] .page-checkout .summary-section .title-block,
html[lang=th] .page-checkout .table-section th {
  letter-spacing: 1px;
  padding-top: 7.4px; }

.page-checkout .table-section th:not(:first-child) {
  text-align: left;
  padding-left: 0;
  padding-right: 0; }

.page-thankyou .table-section th:not(:first-child) {
  text-align: right;
  padding-left: 0;
  padding-right: 0; }

.page-checkout .table-section th:last-child {
  text-align: right; }

.table-section th,
.table-section td {
  line-height: 1.5em;
  vertical-align: top; }

.table-section .price {
  padding: 3px 13px; }

.table-section td {
  color: #000000;
  padding: 6px 3px 9px;
  border-top: 1px solid #eee;
  text-align: left; }

.table-section .contribution {
  display: block;
  margin-bottom: 4px;
  text-transform: uppercase;
  font-weight: bold; }

.table-section .items {
  display: block;
  line-height: 1.2;
  margin-bottom: 8px; }

.table-section .availability,
.table-section .delivery {
  color: #6f6f6f;
  display: block;
  font-size: 13.4px;
  line-height: 1.3; }

.page-checkout .table-section .availability,
.page-checkout .table-section .delivery,
.woocommerce-cart .product-delivery-estimate .availability,
.woocommerce-cart .product-delivery-estimate .delivery {
  color: #6f6f6f;
  font-size: 14px;
  display: block;
  font-family: campton_book; }

html[lang=th] .page-checkout .table-section .availability,
html[lang=th] .page-checkout .table-section .delivery,
html[lang=th] .woocommerce-cart .product-delivery-estimate .availability,
html[lang=th] .woocommerce-cart .product-delivery-estimate .delivery {
  font-family: galileo_regular;
  font-size: 18px;
  letter-spacing: 1px; }

.page-checkout .summary-section .table-section {
  margin-bottom: 5px; }

.table-section .quantity {
  display: block;
  float: left;
  margin: 0 12px 0 0;
  width: 42px; }

.page-thankyou .table-section .quantity {
  float: none;
  text-align: right;
  width: 100%; }

.table-section td:nth-child(2) {
  width: auto; }

.table-content {
  width: 98%; }

.table-section tr td:last-child {
  text-align: right; }

.table-section tr td:last-child {
  text-align: right; }

.summary-section .inner-block {
  padding: 13px 30px 5px; }

.table-footer {
  background-color: #e7f2fd;
  border-left: 0 none;
  border-right: 0 none;
  color: #000000;
  margin-top: 15px; }

.contribution-section {
  display: block;
  float: left; }

.contribution-section .contribution {
  display: block;
  font-weight: normal; }

.table-footer .vat {
  color: #6f6f6f;
  display: block;
  line-height: 17px; }

.table-footer .price {
  display: block;
  float: right; }

.gateway-section {
  border-bottom: 6px solid #eee;
  padding: 8px;
  text-align: right; }

h2.heading-border-block {
  background: transparent url("../img/thankyou/border.jpg") no-repeat scroll left bottom/100% 4px;
  color: #000000;
  font-weight: 700;
  margin-bottom: 23px;
  padding-bottom: 7px;
  line-height: 1.3125;
  text-align: left; }

.history-text {
  margin-bottom: 30px; }

.message .author,
.history-text .author {
  border-radius: 100%;
  float: left;
  margin-right: 24px;
  width: 9%; }

.history-text .author {
  margin-right: 35px;
  display: block; }

.history-text .circle,
.log-out-box .circle {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  overflow: hidden; }

.history-text .circle:empty,
.log-out-box .circle:empty {
  background: #e8e8e9; }

.message .author-message,
.history-text .author-message {
  float: right;
  margin-top: 5px;
  width: 74%; }

.message .author-message strong,
.history-text .author-message strong,
.message .author-message p,
.history-text .author-message p {
  color: #137af0;
  display: block;
  font-weight: normal; }

.history-text .author-message strong,
.history-text .author-message p {
  color: #000000;
  font-weight: normal; }

.message .author-message .credential,
.history-text .author-message .credential {
  margin-bottom: 11px; }

.page-thankyou.lang-th .history-text .author-message .credential {
  letter-spacing: 1px; }

.history-text .author-message .credential-text span {
  color: #137af6; }

.page-thankyou.lang-th #order-privacy-form strong {
  letter-spacing: 1px; }

.message .author-message p,
.history-text .author-message p {
  line-height: 1; }

.privacy-section button, .message-text button, .comment-section button, .history-section a {
  border-radius: 12px;
  border: 2px solid #137af6;
  color: #137af6;
  display: block;
  font-family: quicksand_bold;
  font-size: 20px;
  font-weight: normal;
  line-height: 50px;
  max-width: 251px;
  padding: 0 40px;
  text-align: center;
  background-color: white; }

.page-thankyou.lang-th #order-privacy-form button,
.page-thankyou.lang-th .history-section a {
  font-family: galileo_bold;
  font-size: 24px;
  letter-spacing: 1px;
  padding-top: 0.1em; }

.privacy-section button:hover, .comment-section button:hover, .message-text button:hover, .history-section a:hover {
  background-color: #137af0;
  border-color: #137af0;
  color: #ffffff; }

.comment-section a:active, .message-text button:active, .history-section a:active {
  background-color: #005ee0;
  border: 2px solid #005ee0; }

.header {
  position: static;
  background: #137af6;
  /* Old browsers */
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: -webkit-linear-gradient(left, #137af6 0%, #958aeb 100%);
  background: linear-gradient(to right, #137af6 0%, #958aeb 100%);
  /* W3C */
  /* IE6-9 */
  padding-top: 0;
  margin-bottom: 26px;
  overflow: hidden;
  line-height: 1; }

.header .logo {
  float: left;
  padding-top: 18px; }

.header-nav {
  float: right;
  list-style-type: none;
  margin: 0;
  line-height: 1.5; }

.header-nav li {
  float: left;
  line-height: 1;
  margin: 0; }

.header-nav li a {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  padding: 24px 30px 22px; }

html[lang=th] .header-nav li a {
  letter-spacing: 1.5px; }

.header-nav li.active a,
body[data-payment-step="1"] .header-nav li.pay a {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff; }

.header .container {
  margin: 0 auto;
  max-width: 1248px;
  padding: 0 10px;
  width: 100%;
  box-sizing: border-box; }

.page-checkout .header .container {
  max-width: 1120px; }

.inner-theme-payement .woocommerce,
.inner-theme-payement#theme-page .theme-page-wrapper .theme-content {
  padding: 0; }

.inner-theme-payement#theme-page .theme-page-wrapper {
  margin-top: 0;
  max-width: 1120px;
  padding: 0 10px;
  box-sizing: border-box;
  line-height: 1;
  min-width: 768px; }

.title-block {
  line-height: 1; }

.inner-theme-payement *,
.inner-theme-payement {
  box-sizing: border-box; }

.inner-theme-payement .thanks-block {
  padding: 50px 10px 37px; }

.page-thankyou.lang-th .inner-theme-payement .thanks-block {
  padding-top: 40px; }

.page-checkout .inner-theme-payement .checkout-box p textarea {
  border: 1px solid #ededed;
  color: #000000;
  font-family: campton_medium;
  display: inline-block;
  width: 300px !important;
  padding: 4px 13px !important;
  line-height: 1.5em;
  height: 7em;
  font-size: 16px !important; }

html[lang=th] .page-checkout .inner-theme-payement .checkout-box p textarea {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  font-family: galileo_regular;
  font-size: 22px !important; }

.page-checkout .inner-theme-payement .checkout-box p textarea:focus {
  border: 2px solid #137af6;
  padding: 3px 12px !important; }

.page-checkout .inner-theme-payement ::-webkit-input-placeholder,
.page-cart .coupon-cart-wrap ::-webkit-input-placeholder {
  border: 0 !important;
  padding: 0 !important;
  height: 34px !important;
  line-height: 34px !important;
  color: #c4c4c4;
  letter-spacing: 0.5px; }

.inner-theme-payement .info-box {
  margin-top: 0; }

.checkout_footer {
  padding-bottom: 22px;
  padding-top: 11px;
  background-color: #000000; }

.checkout_footer .container {
  margin: 0 auto;
  max-width: 1248px;
  padding: 0 10px;
  width: 100%; }

/* added #menu-checkout-footer-menu-thai */
.checkout_footer #menu-checkout-footer-menu-thai,
.checkout_footer #menu-checkout-footer-menu {
  float: left;
  list-style-type: none;
  margin-bottom: 0;
  min-width: 85%;
  overflow: hidden;
  padding: 21px 0 29px 3%;
  margin-left: 0;
  line-height: 1.5; }

.checkout_footer #menu-checkout-footer-menu-thai li,
.checkout_footer #menu-checkout-footer-menu li {
  float: left;
  font-family: "campton_light";
  font-size: 14px;
  margin-right: 5.5%;
  list-style: none;
  margin-left: 0; }

.checkout_footer #menu-checkout-footer-menu-thai li a,
.checkout_footer #menu-checkout-footer-menu li a {
  color: #6f6f6f; }

.checkout_footer #menu-checkout-footer-menu-thai li a,
.checkout_footer #menu-checkout-footer-menu li a {
  color: #6f6f6f; }

.checkout_footer #menu-checkout-footer-menu-thai li a:hover,
.checkout_footer #menu-checkout-footer-menu li a:hover {
  color: #ffffff; }

.checkout_footer .copyright {
  background: transparent url("../img/thankyou/border.jpg") no-repeat scroll left top/100% 4px;
  padding-top: 26px; }

.checkout_footer .secondary-footer span {
  color: #6f6f6e;
  font-family: "campton_light";
  font-size: 13px;
  padding-left: 3%;
  display: block;
  line-height: 1; }

.checkout_footer a {
  float: right;
  margin-right: 10px; }

.checkout_footer,
.checkout_footer * {
  box-sizing: border-box; }

.page-checkout .summary-section .table-footer,
.page-cart .table-footer {
  border: 1px solid #eee;
  border-width: 1px 0;
  padding: 18px 23px;
  margin-top: 0; }

.page-checkout .table-section td {
  padding: 14px 3px; }

.page-checkout .table-section tr td:first-of-type,
.page-cart .shop_table tr td:first-of-type {
  padding-left: 0 !important; }

.page-checkout .table-section tr td:last-of-type,
.page-cart .shop_table tr td:last-of-type {
  padding-right: 0;
  position: relative; }

.page-checkout .table-content strong.contribution {
  font-weight: normal;
  line-height: 18px;
  max-height: 30px;
  /*2 lines*/
  display: inline-block; }

html[lang=th] .page-checkout .table-content strong.contribution {
  letter-spacing: 1px;
  line-height: 20px;
  max-height: 40px; }

.page-checkout .table-content strong.contribution.hover {
  max-height: none; }

html[lang=th] .page-checkout .table-content strong.contribution:hover {
  max-height: none; }

.page-checkout .table-content .items {
  margin-bottom: 16px; }

.page-checkout .table-content .items p {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  margin: 0;
  max-height: 45px;
  /*3 lines*/
  display: inline-block;
  font-family: campton_book; }

html[lang=th] .page-checkout .table-content .items p,
.page-thankyou.lang-th .table-content .items {
  letter-spacing: 1px;
  line-height: 18px;
  /* max-height: 54px; */ }

.page-checkout .table-footer .price,
.page-checkout .table-footer .price strong,
.page-checkout .table-footer .price strong span,
.page-cart .table-footer .price,
.page-cart .table-footer .price strong,
.page-cart .table-footer .price strong span {
  font-weight: normal;
  display: inline-block; }

html[lang=th] .page-checkout .table-footer .vat {
  letter-spacing: 1px; }

.page-checkout .table-footer {
  color: #000;
  margin-top: 0; }

.page-checkout .table-footer .contribution-section strong,
.page-cart .table-footer .contribution-section strong {
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1em; }

html[lang=th] .page-checkout .table-footer .contribution-section strong,
html[lang=th] .page-cart .table-footer .contribution-section strong {
  letter-spacing: 1px; }

.desktop-hide {
  display: none; }

.desktop-show {
  display: block; }

.lang-en .eng-hide {
  display: none; }

iframe[name="google_conversion_frame"] {
  display: none; }

@media handheld, only screen and (max-width: 1140px) {
  .page-checkout .summary-section .table-footer,
  .page-cart .table-footer {
    margin-bottom: 0; }
  .page-checkout .title-block,
  .page-cart .title-block {
    padding: 8px; }
  .page-checkout .summary-section .table-footer,
  .page-cart .table-footer {
    padding: 13px 8px; } }

@media all and (max-width: 479px) {
  .page-checkout .theme-content {
    padding-left: 10px !important;
    padding-right: 10px !important; }
  .page-checkout .theme-content .woocommerce {
    padding: 0; } }

@media (max-width: 500px) {
  html, body {
    position: static;
    height: auto;
    min-height: 100%; } }

/*# sourceMappingURL=thankyou.css.map */
.comment-section textarea {
  width: 100%;
  font-family: galileo_book;
  font-size: 18px;
  letter-spacing: 1.5px;
  padding-top: 0.2em;
  padding-bottom: 0;
  line-height: 1.3em;
  overflow: auto;
  resize: none;
  border: 1px solid #eee;
  color: #6f6f6f;
  padding-left: 15px; }

:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
::-webkit-input-placeholder {
  font-family: galileo_book;
  font-size: 16px;
  letter-spacing: 1.5px;
  padding-top: 0.2em;
  padding-bottom: 0;
  line-height: 2em; }

form#order-privacy-form div {
  padding: 10px;
  margin: 10px;
  width: 60%;
  border: 1px solid #eee;
  color: #6f6f6f; }

#order-privacy-form input[type="radio"] {
  margin-right: 20px; }

#order-privacy-form strong {
  color: black; }

#order-privacy-form input[name="other_name"] {
  font-family: galileo_regular;
  padding: 0px;
  height: 100%;
  width: 80%;
  font-size: 22px;
  border: none;
  outline-width: 0;
  line-height: 34px;
  height: 22px; }

form#order-privacy-form div.active, form#order-privacy-form div:hover {
  background-color: #E5F1FE;
  border: 1px solid #3E8DF4; }

form#order-privacy-form div.active input[name="other_name"],
form#order-privacy-form div:hover input[name="other_name"] {
  background-color: #E5F1FE; }

.discount-wrap .row {
  clear: both;
  width: 100%;
  overflow: hidden; }

.discount-wrap .code {
  font-family: galileo_book;
  font-size: 22px;
  letter-spacing: 1px; }

.discount-wrap .code {
  float: left;
  font-size: 15px;
  line-height: 24px; }

.inner-banner .title-block {
  background-color: #f4f4f4;
  border-bottom: 1px solid #eee;
  display: block;
  margin-bottom: 0;
  padding: 8px 23px 8px 23px;
  color: #000;
  font-weight: normal; }

form#order-privacy-form div.saved-overlay {
  background-color: lightgreen;
  border: 1px solid black;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  padding: 0px;
  margin: auto;
  text-align: center;
  opacity: .5; }

ul.woocommerce-error {
  margin-top: 0px;
  width: 100%;
  float: none;
  top: 0;
  left: 0;
  position: static;
  margin: 0;
  background: #d6e6ff !important;
  border: 1px solid #eee;
  padding: 16px 24px;
  margin-bottom: 26px; }

ul.woocommerce-error li {
  letter-spacing: 1px;
  padding-top: 0.2em;
  text-align: center;
  list-style: none outside;
  padding-left: 0;
  margin-left: 0;
  color: #137af6;
  text-align: center; }

.lang-th ul.woocommerce-error li {
  font-family: galileo_regular;
  font-size: 22px; }

.lang-en ul.woocommerce-error li {
  font-size: 16px;
  font-family: campton_book; }

.lang-th span.msg-error {
  color: #f00;
  position: relative;
  font-family: galileo_regular;
  letter-spacing: 1px;
  font-size: 16px !important;
  margin: 10px;
  bottom: 10px; }

.lang-en span.msg-error {
  color: #f00;
  position: relative;
  font-family: campton_light;
  letter-spacing: 1px;
  font-size: 12px !important;
  margin: 10px;
  bottom: 10px; }

.error-x {
  background-image: url("https://d3qxp76q7njomy.cloudfront.net/wp-content/themes/ken-child/images/icon-valid-nope.png");
  display: inline-block;
  float: left;
  height: 34px;
  width: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin: 0 6px; }

@media only screen and (max-width: 767px) {
  /* @media screen and (-webkit-min-device-pixel-ratio: 1.5) { */
  .header .container {
    padding: 0;
    max-width: 100%;
    width: 100%;
    min-width: 0;
    min-height: 0; }
  .header .logo {
    display: block;
    float: none;
    padding: 12px 0 14px;
    text-align: center;
    border-bottom: 1px solid #fff; }
  .header-nav {
    float: none;
    line-height: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    display: table;
    width: 100%; }
  .header-nav li {
    float: none;
    margin: 0;
    padding: 0;
    display: table-cell;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    box-sizing: border-box; }
  .header-nav li a {
    padding: 0;
    line-height: 40px;
    width: 40px;
    display: inline-block;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    vertical-align: middle;
    font-family: quicksand_bold;
    font-size: 17px; }
  .header-nav li.active, body[data-payment-step="1"] .header-nav li.pay, .page-thankyou .header-nav li.share {
    width: auto; }
  .header-nav li.active a,
  body[data-payment-step="1"] .header-nav li.pay a,
  .page-thankyou .header-nav li.share a {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-family: quicksand_bold;
    padding: 0;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    vertical-align: middle; }
  .inner-theme-payement#theme-page .theme-page-wrapper .theme-content {
    min-width: 0;
    max-width: 100%;
    width: 100%;
    padding: 0 !important; }
  .page-thankyou .inner-theme-payement#theme-page .theme-page-wrapper {
    min-width: 0;
    max-width: 100%;
    width: 100%;
    padding: 0 0 100px; }
  .page-checkout .header {
    margin-bottom: 0; }
  #thankyou .thanks-block h1 {
    color: #000;
    font-weight: normal;
    text-align: center; }
  .inner-theme-payement .thanks-block {
    background: #d5e5fe;
    margin-left: -24px;
    margin-right: -24px;
    padding: 24px 24px; }
  #thankyou .payment-section .customer-details strong {
    display: block;
    font-weight: normal; }
  #thankyou .payment-section .customer-details {
    margin-bottom: 8px; }
  .page-checkout .title-block {
    border: 0;
    padding: 0;
    background: none;
    margin: 24px 0; }
  .title-block {
    border: 1px solid #ccc;
    padding: 8px 0;
    text-align: center;
    background: #ececec;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 24px;
    font-weight: normal;
    display: block; }
  .page-thankyou .privacy-section,
  .page-thankyou .comment-section,
  .page-thankyou .history-section {
    text-align: center; }
  .privacy-section,
  .comment-section,
  .history-section {
    margin-top: 22px; }
  .page-thankyou .privacy-section button,
  .page-thankyou .comment-section button,
  .page-thankyou .history-section a {
    border: 2px solid #137af6;
    background: #fff;
    color: #137af6;
    line-height: 51px;
    height: 55px;
    display: inline-block;
    width: auto;
    padding: 0 40px;
    font-family: quicksand_bold;
    font-size: 22px;
    text-transform: capitalize;
    box-sizing: border-box;
    margin-top: 16px; }
  .comment-section button,
  .history-section a {
    line-height: 42px;
    height: 42px;
    border-radius: 10px;
    width: 100%;
    display: block;
    min-width: 0;
    background: #137af6;
    color: #fff;
    text-align: center;
    border: 0;
    max-width: 100%; }
  form#order-privacy-form {
    text-align: center; }
  form#order-privacy-form div {
    padding: 10px;
    margin: auto;
    width: 90%;
    text-align: left; }
  .page-thankyou .summary-section .title-block {
    background-color: transparent;
    border: 1px solid transparent; }
  .history-section .heading-border-block {
    padding: 24px 0;
    font-weight: normal;
    background: #f7f9ff;
    text-align: center;
    position: relative;
    letter-spacing: 1px; }
  .history-section .heading-border-block::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    background: -webkit-linear-gradient(left, #137af6 0%, #958aeb 100%);
    background: linear-gradient(to right, #137af6 0%, #958aeb 100%); }
  .bill-detail {
    margin-bottom: 0px; }
  .border-block {
    border: 0px; }
  .container, .congtengner, .page-checkout form.checkout-left > .congtengner {
    padding: 0 12px; } }

@media only screen and (max-width: 767px) {
  .detail-section {
    float: none;
    width: 100%; }
  .header-nav li a {
    font-size: 17px;
    padding: 0px; }
  .mobile-hidden {
    display: none; }
  .contact-details {
    float: none;
    width: 100%; }
  .inner-banner .title-block {
    background-color: white;
    border: none;
    padding: 7% 14% 7% 14%;
    margin: 0px; } }

@media only screen and (max-width: 330px) {
  #order-privacy-form input[name=other_name] {
    width: 78%; } }

/*# sourceMappingURL=thankyou.css.map */
