﻿/*!
 * roundSlider v1.3 | (c) 2015-2016, Soundar
 * MIT license | http://roundsliderui.com/licence.html
 */

.rs-control { position: relative; outline: 0 none; }
.rs-container { position: relative; }
.rs-control *, .rs-control *:before, .rs-control *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.rs-animation .rs-transition
{
    -webkit-transition: all 0.5s linear 0s;
    -moz-transition: all 0.5s linear 0s;
    -o-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
}
.rs-bar
{
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}
.rs-control .rs-split .rs-path,
.rs-control .rs-overlay1,
.rs-control .rs-overlay2
{
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.rs-control .rs-overlay
{
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.rs-control.rs-error
{
    border: 1px dotted;
    text-align: center;
}
.rs-readonly {
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    z-index: 100;
}
.rs-disabled {
    opacity: 0.35;
}
.rs-inner-container
{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.quarter div.rs-block { height: 200%; width: 200%; }
.half.top div.rs-block, .half.bottom div.rs-block { height: 200%; width: 100%; }
.half.left div.rs-block, .half.right div.rs-block { height: 100%; width: 200%; }
.bottom > .rs-inner-container > .rs-block { top: auto; bottom: 0; }
.right .rs-inner-container > .rs-block { right: 0; }
div.rs-block { -webkit-border-radius: 100%; border-radius: 100%; }
.rs-block
{
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    overflow: hidden;
    z-index: 3;
}
.rs-block .rs-inner
{
    -webkit-border-radius: 1000px;
    border-radius: 1000px;
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
}
.rs-overlay { width: 50%; }
.rs-overlay1, .rs-overlay2 { width: 100%; }
.rs-overlay, .rs-overlay1, .rs-overlay2
{
    position: absolute;
    background-color: white;
    z-index: 3;
    top: 0;
    height: 50%;
}
.rs-bar
{
    position: absolute;
    height: 0;
    z-index: 10;
}
.rs-bar.rs-rounded {
    z-index: 5;
}
.rs-bar .rs-seperator {
    height: 0px;
    display: block;
    float: left;
}
.rs-bar:not(.rs-rounded) .rs-seperator {
    border-left: none;
    border-right: none;
}
.rs-bar.rs-start  .rs-seperator { border-top: none; }
.rs-bar.rs-end  .rs-seperator { border-bottom: none; }
.rs-bar.rs-start.rs-rounded .rs-seperator { border-radius: 0 0 1000px 1000px; }
.rs-bar.rs-end.rs-rounded .rs-seperator { border-radius: 1000px 1000px 0 0; }
.full .rs-bar, .half .rs-bar { width: 50%; }
.half.left .rs-bar, .half.right .rs-bar, .quarter .rs-bar { width: 100%; }
.full .rs-bar, .half.left .rs-bar, .half.right .rs-bar { top: 50%; }
.bottom .rs-bar { top: 0; }
.half.right .rs-bar, .quarter.right .rs-bar { right: 100%; }

.rs-handle.rs-move { cursor: move; display: none;}
.rs-readonly .rs-handle.rs-move { cursor: default; }
.rs-path { display: block; height: 100%; width: 100%; }
.rs-split .rs-path
{
    -webkit-border-radius: 1000px 1000px 0 0;
    border-radius: 1000px 1000px 0 0;
    overflow: hidden;
    height: 50%;
    position: absolute;
    top: 0;
    z-index: 2;
}

/*** tooltip styles ***/
.rs-tooltip
{
    position: absolute;
    cursor: default;
    border: 1px solid transparent;
    z-index: 10;
}
.full .rs-tooltip { top: 50%; left: 50%; }
.bottom .rs-tooltip { top: 0; } 
.top .rs-tooltip { bottom: 0; }
.right .rs-tooltip { left: 0; }
.left .rs-tooltip { right: 0; }
.half.top .rs-tooltip, .half.bottom .rs-tooltip { left: 50%; }
.half.left .rs-tooltip, .half.right .rs-tooltip { top: 50%; }
.rs-tooltip .rs-input { outline: 0 none; border: none; background: transparent; }
.rs-tooltip-text { font-family: verdana; font-size: 13px; border-radius: 7px; text-align: center; }
.rs-tooltip.edit, .rs-tooltip .rs-input { padding: 5px 8px; }
.rs-tooltip.hover, .rs-tooltip.edit:hover { border: 1px solid #AAAAAA; cursor: pointer; }
.rs-readonly .rs-tooltip.edit:hover { border-color: transparent; cursor: default; }

/*** handle types ***/
.rs-handle { border-radius: 1000px; outline: 0 none; float: left; }
.rs-handle.rs-handle-square { border-radius: 0px; }
.rs-handle-dot { border: 1px solid #AAAAAA; padding: 6px; }
.rs-handle-dot:after {
    display: block;
    content: "";
    border: 1px solid #AAAAAA;
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

/*** theming - colors ***/
.rs-seperator { border: 1px solid #AAAAAA; }
.rs-border { border: 1px solid ; border-color: transparent;}
.rs-path-color { background-color: #B5B5B5; }
.rs-range-color:first-child { 
    background: #8080d3;
    background: -moz-linear-gradient(left, #8080d3 0%,#8080d3 0% #6080d8 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#8080d3), color-stop(100%,#6080d8));
    background: -webkit-linear-gradient(left, #8080d3 0%,#6080d8 100%);
    background: -o-linear-gradient(left, #8080d3 0%,#6080d8 100%);
    background: -ms-linear-gradient(left, #8080d3 0%,#6080d8 100%);
    background: linear-gradient(to right, #8080d3 0%,#6080d8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8080d3', endColorstr='#6080d8',GradientType=1 );
}
.rs-range-color:nth-child(2) {
    background: #6080d8;
    background: -moz-linear-gradient(left, #6080d8 0%, #3a7fdb 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#6080d8), color-stop(100%,#3a7fdb));
    background: -webkit-linear-gradient(left, #6080d8 0%,#3a7fdb 100%);
    background: -o-linear-gradient(left, #6080d8 0%,#3a7fdb 100%);
    background: -ms-linear-gradient(left, #6080d8 0%,#3a7fdb 100%);
    background: linear-gradient(to right, #6080d8 0%,#3a7fdb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6080d8', endColorstr='#3a7fdb',GradientType=1 );
}
.rs-bg-color { background-color: $grey_f9; }
.rs-handle { background-color: #838383; }
.rs-handle-dot { background-color: #FFFFFF; }
.rs-handle-dot:after { background-color: #838383; }