.txt_default {
  font-family: campton_light;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 1.5em; }

html,
.campaign_detail {
  font-family: campton_light;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 1.5em; }

.txt_side_bar {
  font-family: campton_book;
  font-size: 20px;
  letter-spacing: 0px;
  line-height: inherit; }

.txt_btn_1,
.header_menu_item {
  font-family: quicksand_bold;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: inherit; }

.txt_btn_2 {
  font-family: quicksand_bold !important;
  font-size: 12px !important;
  letter-spacing: 1px !important;
  line-height: inherit; }

.txt_btn_3, .btn_asiola {
  font-family: quicksand_bold;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: inherit; }

.txt_btn_4 {
  font-family: quicksand_bold;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: inherit; }

.txt_btn_5 {
  font-family: quicksand_bold;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: inherit; }

.txt_btn_6 {
  font-family: quicksand_bold;
  font-size: 22px;
  letter-spacing: inherit;
  line-height: inherit; }

.txt_head_1 {
  font-family: campton_light;
  font-size: 46px;
  letter-spacing: 1px;
  line-height: inherit; }

.txt_head_2 {
  font-family: quicksand_bold;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: inherit; }

.txt_head_3 {
  font-family: quicksand_bold !important;
  font-size: 14px !important;
  letter-spacing: 1px !important;
  line-height: inherit; }

.txt_head_3_2 {
  font-family: campton_bold;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: inherit; }

.txt_head_4 {
  font-family: quicksand_bold;
  font-size: 24px;
  letter-spacing: 3px;
  line-height: inherit; }

.txt_head_5 {
  font-family: campton_medium;
  font-size: 20px;
  letter-spacing: 0px;
  line-height: inherit; }

.txt_head_6 {
  font-family: campton_semibold;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: inherit; }

.txt_head_7 {
  font-family: quicksand_bold;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: inherit; }

.txt_head_8 {
  font-family: campton_light;
  font-size: 50px;
  letter-spacing: inherit;
  line-height: inherit; }

.txt_head_9 {
  font-family: quicksand_bold;
  font-size: 38px;
  letter-spacing: inherit;
  line-height: inherit; }

.txt_head_10 {
  font-family: campton_medium;
  font-size: 30px;
  letter-spacing: 1px;
  line-height: inherit; }

.txt_head_11 {
  font-family: campton_semibold;
  font-size: 50px;
  letter-spacing: inherit;
  line-height: inherit; }

.txt_head_12 {
  font-family: galileo_bold;
  font-size: 60px;
  letter-spacing: inherit;
  line-height: inherit; }

.txt_body_1,
.mk-edge-desc {
  font-family: quicksand_bold;
  font-size: 20px;
  letter-spacing: 0px;
  line-height: inherit; }

.txt_body_2 {
  font-family: campton_light;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 24px; }

.txt_body_3 {
  font-family: campton_light;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 24px; }
  .txt_body_3 strong {
    font-family: campton_medium; }

.txt_body_4 {
  font-family: quicksand_bold;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: inherit; }

.txt_body_5 {
  font-family: campton_light;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14px; }

.txt_body_6 {
  font-family: campton_book;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: inherit; }

.txt_body_7 {
  font-family: quicksand_bold;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: inherit; }

.txt_body_8 {
  font-family: quicksand_bold;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: inherit; }

.txt_body_9 {
  font-family: quicksand_bold;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: inherit; }

.txt_body_10 {
  font-family: campton_medium;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: inherit; }

.txt_body_11 {
  font-family: campton_bold;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: inherit; }

.txt_body_12 {
  font-family: campton_semibold;
  font-size: 12px;
  letter-spacing: inherit;
  line-height: inherit; }

.txt_body_13 {
  font-family: campton_semibold;
  font-size: 16px;
  letter-spacing: inherit;
  line-height: inherit; }

.txt_body_14 {
  font-family: campton_medium;
  font-size: 16px;
  letter-spacing: inherit;
  line-height: inherit; }

.txt_num_1 {
  font-family: quicksand_bold;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 42px; }

.txt_num_1_1 {
  font-family: quicksand_bold;
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 42px; }

.txt_num_1_2 {
  font-family: quicksand_bold;
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 42px; }

.txt_num_1_3 {
  font-family: quicksand_bold;
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 42px; }

.txt_num_2 {
  font-family: campton_bold;
  font-size: 100px;
  letter-spacing: inherit;
  line-height: inherit; }

.txt_num_3 {
  font-family: quicksand_bold;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: inherit; }

.txt_num_4 {
  font-family: quicksand_bold;
  font-size: 32px;
  letter-spacing: 1px;
  line-height: 42px; }

.txt_quote_1 {
  font-family: campton_light;
  font-size: 34px;
  letter-spacing: 0px;
  line-height: 36px; }

.txt_quote_2 {
  font-family: campton_light;
  font-size: 40px;
  letter-spacing: 0px;
  line-height: 42px; }

.txt_quote_3 {
  font-family: campton_light;
  font-size: 50px;
  letter-spacing: 0px;
  line-height: 60px; }

.txt_footer_head {
  font-family: campton_bold;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: initial; }

.txt_copy {
  font-family: campton_light;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: initial; }

.txt_dup_1 {
  font-family: galileo_bold;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: initial; }

.txt_dup_2 {
  font-family: galileo_book;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: initial; }

.txt_dup_3 {
  font-family: galileo_bold;
  font-size: 22px;
  letter-spacing: 0px;
  line-height: initial; }

.txt_dup_4 {
  font-family: galileo_book;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: initial; }

.txt_dup_5 {
  font-family: galileo_regular;
  font-size: 22px;
  letter-spacing: inherit;
  line-height: inherit; }

.txt_dup_6 {
  font-family: campton_bold;
  font-size: 20px;
  letter-spacing: inherit;
  line-height: inherit; }

.txt_dup_7 {
  font-family: campton_semibold;
  font-size: 16px;
  letter-spacing: inherit;
  line-height: inherit; }

.txt_pay_1 {
  font-family: campton_light;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: initial; }

.txt_pay_2 {
  font-family: campton_book;
  font-size: 12px;
  letter-spacing: 0px;
  line-height: initial; }

.txt_pay_3 {
  font-family: campton_medium;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: initial; }

.txt_pay_4 {
  font-family: campton_bold;
  font-size: 12px;
  letter-spacing: 0px;
  line-height: initial; }

.txt_pay_5 {
  font-family: campton_medium;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: initial;
  text-transform: uppercase; }

.txt_pay_6 {
  font-family: campton_medium;
  font-size: 14px;
  letter-spacing: inherit;
  line-height: inherit; }

.txt_pay_7 {
  font-family: galileo_bold;
  font-size: 20px;
  letter-spacing: inherit;
  line-height: inherit; }

.txt_pay_8 {
  font-family: campton_semibold;
  font-size: 15px;
  letter-spacing: inherit;
  line-height: inherit; }

.txt_cp_1 {
  font-family: campton_semibold;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: initial; }

.txt_cp_2 {
  font-family: campton_medium;
  font-size: 36px;
  letter-spacing: 0px;
  line-height: initial; }

.txt_cp_3 {
  font-family: campton_medium;
  font-size: 26px;
  letter-spacing: 0px;
  line-height: initial; }

.txt_cp_4 {
  font-family: campton_bold;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 16px; }

.txt_cp_5 {
  font-family: campton_semibold;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: initial; }

.txt_cp_6 {
  font-family: quicksand_bold;
  font-size: 12px;
  letter-spacing: 0px;
  line-height: initial; }

.txt_cm_1 {
  font-family: galileo_bold;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 16px; }

.txt_cm_2 {
  font-family: galileo_book;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: initial; }

.txt_cm_3 {
  font-family: galileo_bold;
  font-size: 24px;
  letter-spacing: 0px;
  line-height: initial; }

.txt_cm_4 {
  font-family: galileo_book;
  font-size: 24px;
  letter-spacing: 0px;
  line-height: initial; }

.txt_cm_5 {
  font-family: galileo_regular;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: initial; }

.txt_error_1 {
  font-family: campton_book;
  font-size: 12px;
  letter-spacing: 0px;
  line-height: initial; }

.wrap_contact header h1 {
  font-family: campton_light;
  font-size: 47px; }

.wrap_contact article div span {
  display: block;
  font-family: campton_light; }

.wrap_page_team #page-title {
  font-family: campton_medium;
  font-size: 70px;
  line-height: 1; }

.wrap_page_team #words {
  font-family: quicksand_bold;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.2px; }

.wrap_page_team .employee b {
  font-family: quicksand_bold;
  font-size: 16px; }

.product_popup_wrap .product_popup_container .content {
  line-height: 22px; }

@media (max-width: 450px) {
  html,
  .campaign_detail,
  .txt_default {
    font-family: campton_light;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 20px; }
  #header .hover_line:before {
    bottom: 1em; }
  .txt_side_bar {
    font-family: campton_book;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: inherit; }
  .txt_btn_1 {
    font-family: quicksand_bold;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: inherit; }
  .txt_btn_2 {
    font-family: quicksand_bold !important;
    font-size: 10px !important;
    letter-spacing: 1px !important;
    line-height: inherit; }
  .txt_btn_3, .btn_asiola,
  .btn_asiola {
    font-family: quicksand_bold;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: inherit; }
  .txt_btn_4 {
    font-family: quicksand_bold;
    font-size: 11px;
    letter-spacing: 0.5px;
    line-height: inherit; }
  .txt_btn_5 {
    font-family: quicksand_bold;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: inherit; }
  .txt_btn_6 {
    font-family: quicksand_bold;
    font-size: 16px;
    letter-spacing: inherit;
    line-height: inherit; }
  .txt_head_1,
  .mk-edge-title div > span {
    font-family: campton_medium;
    font-size: 28px;
    letter-spacing: 0.5px;
    line-height: inherit; }
  .txt_head_2 {
    font-family: quicksand_bold;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: inherit; }
  .txt_head_3 {
    font-family: quicksand_bold !important;
    font-size: 10px !important;
    letter-spacing: 0 !important;
    line-height: inherit; }
  .txt_head_3_2 {
    font-family: campton_bold;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: inherit; }
  .txt_head_4 {
    font-family: quicksand_bold;
    font-size: 24px;
    letter-spacing: 3px;
    line-height: inherit; }
  .txt_head_5 {
    font-family: campton_medium;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: inherit; }
  .txt_head_6 {
    font-family: campton_semibold;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: inherit; }
  .txt_head_7 {
    font-family: quicksand_bold;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: inherit; }
  .txt_head_8 {
    font-family: campton_light;
    font-size: 50px;
    letter-spacing: inherit;
    line-height: inherit; }
  .txt_head_9 {
    font-family: quicksand_bold;
    font-size: 38px;
    letter-spacing: inherit;
    line-height: inherit; }
  .txt_head_10 {
    font-family: campton_medium;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: inherit; }
  .txt_head_11 {
    font-family: campton_semibold;
    font-size: 50px;
    letter-spacing: inherit;
    line-height: inherit; }
  .txt_head_12 {
    font-family: galileo_bold;
    font-size: 60px;
    letter-spacing: inherit;
    line-height: inherit; }
  .txt_body_1 {
    font-family: quicksand_bold;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: inherit; }
  .txt_body_2 {
    font-family: campton_light;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px; }
  .txt_body_3 {
    font-family: campton_light;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 16px; }
    .txt_body_3 strong,
    .txt_body_3 b {
      font-family: campton_medium; }
  .txt_body_4 {
    font-family: quicksand_bold;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: inherit; }
  .txt_body_5 {
    font-family: campton_light;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 1.2; }
  .txt_body_6 {
    font-family: campton_book;
    font-size: 10px;
    letter-spacing: 0px;
    line-height: inherit; }
  .txt_body_7 {
    font-family: quicksand_bold;
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: inherit; }
  .txt_body_8 {
    font-family: quicksand_bold;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: inherit; }
  .txt_body_9 {
    font-family: quicksand_bold;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 14px; }
  .txt_body_10 {
    font-family: campton_medium;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: inherit; }
  .txt_body_11 {
    font-family: campton_bold;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: inherit; }
  .txt_body_12 {
    font-family: campton_semibold;
    font-size: 12px;
    letter-spacing: inherit;
    line-height: inherit; }
  .txt_body_13 {
    font-family: campton_semibold;
    font-size: 15px;
    letter-spacing: inherit;
    line-height: inherit; }
  .txt_body_14 {
    font-family: campton_medium;
    font-size: 15px;
    letter-spacing: inherit;
    line-height: inherit; }
  .txt_num_1 {
    font-family: quicksand_bold;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 42px; }
  .txt_num_1_1 {
    font-family: quicksand_bold;
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 42px; }
  .txt_num_1_2 {
    font-family: quicksand_bold;
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 42px; }
  .txt_num_1_3 {
    font-family: quicksand_bold;
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 42px; }
  .txt_num_2 {
    font-family: campton_bold;
    font-size: 100px;
    letter-spacing: inherit;
    line-height: inherit; }
  .txt_num_3 {
    font-family: quicksand_bold;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: inherit; }
  .txt_num_4 {
    font-family: quicksand_bold;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 1; }
  .txt_quote_1 {
    font-family: campton_light;
    font-size: 34px;
    letter-spacing: 0px;
    line-height: 36px; }
  .txt_quote_2 {
    font-family: campton_light;
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 28px; }
  .txt_quote_3 {
    font-family: campton_light;
    font-size: 50px;
    letter-spacing: 0px;
    line-height: 60px; }
  .txt_footer_head {
    font-family: campton_bold;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: initial; }
  .txt_copy {
    font-family: campton_light;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: initial; }
  .txt_dup_1 {
    font-family: galileo_bold;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: initial; }
  .txt_dup_2 {
    font-family: galileo_book;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: initial; }
  .txt_dup_3 {
    font-family: galileo_bold;
    font-size: 24px;
    letter-spacing: 0px;
    line-height: initial; }
  .txt_dup_4 {
    font-family: galileo_book;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: initial; }
  .txt_dup_5 {
    font-family: galileo_regular;
    font-size: 20px;
    letter-spacing: inherit;
    line-height: inherit; }
  .txt_dup_6 {
    font-family: campton_bold;
    font-size: 20px;
    letter-spacing: inherit;
    line-height: inherit; }
  .txt_dup_7 {
    font-family: campton_semibold;
    font-size: 16px;
    letter-spacing: inherit;
    line-height: inherit; }
  .txt_pay_1 {
    font-family: campton_light;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: initial; }
  .txt_pay_2 {
    font-family: campton_book;
    font-size: 10px;
    letter-spacing: 0.5px;
    line-height: initial; }
  .txt_pay_3 {
    font-family: campton_medium;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: initial; }
  .txt_pay_4 {
    font-family: campton_bold;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: initial; }
  .txt_pay_5 {
    font-family: campton_medium;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: initial; }
  .txt_pay_6 {
    font-family: campton_medium;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: initial; }
  .txt_pay_7 {
    font-family: galileo_bold;
    font-size: 18px;
    letter-spacing: inherit;
    line-height: initial; }
  .txt_pay_8 {
    font-family: campton_semibold;
    font-size: 15px;
    letter-spacing: inherit;
    line-height: initial; }
  .txt_cp_1 {
    font-family: campton_semibold;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: initial; }
  .txt_cp_2 {
    font-family: campton_medium;
    font-size: 30px;
    letter-spacing: 0px;
    line-height: initial; }
  .txt_cp_3 {
    font-family: campton_medium;
    font-size: 26px;
    letter-spacing: 0px;
    line-height: initial; }
  .txt_cp_4 {
    font-family: campton_bold;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 16px; }
  .txt_cp_5 {
    font-family: campton_semibold;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: initial; }
  .txt_cp_6 {
    font-family: quicksand_bold;
    font-size: 9px;
    letter-spacing: 0px;
    line-height: initial; }
  .txt_cm_1,
  .txt_cm_3 {
    font-family: galileo_bold;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 1; }
  .txt_cm_2,
  .txt_cm_5 {
    font-family: galileo_regular;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: initial; }
  .txt_cm_4 {
    font-family: galileo_book;
    font-size: 24px;
    letter-spacing: 0px;
    line-height: initial; }
  .txt_error_1 {
    font-family: campton_book;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: initial; }
  .header_menu_item {
    font-size: 12px; }
  .reward_item_cover .item_desc {
    font-family: campton_light;
    font-size: 13px;
    line-height: 18px; }
  .reward_item_cover .interact_section .btn_asiola.default {
    font-family: quicksand_bold;
    font-size: 16px; }
  .reward_item_cover .interact_section .hold {
    font-family: campton_light;
    font-size: 10px; }
  .reward_item_cover .interact_section .custom .custom_amount_txt {
    font-family: campton_light;
    font-size: 15px; }
  .wrap_body .wrap_homepage .discover_section .discover_section_title {
    line-height: 35px; }
  .wrap_body .wrap_homepage .wrap_slider.homepage_sections .mk-edge-title div > span {
    line-height: 40px; }
  .wrap_body .wrap_homepage .wrap_slider.homepage_sections .mk-edge-desc {
    line-height: 20px;
    padding: 2px 4px; }
  .interact_section .custom .contrib {
    font-family: campton_book;
    font-size: 13px; }
  .interact_section .custom .min,
  .interact_section .custom .error_msg {
    font-family: campton_light;
    font-size: 12px; }
  .wrap_page_team #page-title {
    font-size: 80px; } }

@media (max-width: 320px) {
  .header_menu_item {
    font-size: 12px; } }

/*# sourceMappingURL=en.css.map */
