.txt_default {
  font-family: galileo_book;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 1; }

html {
  font-family: galileo_book;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: inherit; }

.txt_side_bar {
  font-family: galileo_regular;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: inherit; }

.txt_btn_1,
.header_menu_item,
.btn_asiola {
  font-family: galileo_bold;
  font-size: 26px;
  letter-spacing: 1px;
  line-height: inherit; }

.txt_btn_2 {
  font-family: quicksand_bold !important;
  font-size: 12px !important;
  letter-spacing: 1px !important;
  line-height: inherit; }

.txt_btn_3 {
  font-family: galileo_bold;
  font-size: 30px;
  letter-spacing: 2px;
  line-height: inherit; }

.txt_btn_4 {
  font-family: galileo_bold;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: inherit; }

.txt_btn_5 {
  font-family: galileo_book;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: inherit; }

.txt_btn_6 {
  font-family: galileo_bold;
  font-size: 26px;
  letter-spacing: inherit;
  line-height: inherit; }

.txt_head_1 {
  font-family: galileo_regular;
  font-size: 60px;
  letter-spacing: 2px;
  line-height: inherit; }

.txt_head_2 {
  font-family: galileo_bold;
  font-size: 32px;
  letter-spacing: 2px;
  line-height: inherit; }

.txt_head_3 {
  font-family: quicksand_bold !important;
  font-size: 14px !important;
  letter-spacing: 3px !important;
  line-height: inherit; }

.txt_head_3_2 {
  font-family: galileo_bold;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: inherit; }

.txt_head_4 {
  font-family: quicksand_bold;
  font-size: 24px;
  letter-spacing: 3px;
  line-height: inherit; }

.txt_head_5 {
  font-family: campton_medium;
  font-size: 20px;
  letter-spacing: 0px;
  line-height: inherit; }

.txt_head_6 {
  font-family: campton_semibold;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: inherit; }

.txt_head_7 {
  font-family: quicksand_bold;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: inherit; }

.txt_head_8 {
  font-family: campton_light;
  font-size: 50px;
  letter-spacing: inherit;
  line-height: inherit; }

.txt_head_9 {
  font-family: quicksand_bold;
  font-size: 38px;
  letter-spacing: inherit;
  line-height: inherit; }

.txt_head_10 {
  font-family: campton_medium;
  font-size: 30px;
  letter-spacing: 1px;
  line-height: inherit; }

.txt_head_11 {
  font-family: campton_semibold;
  font-size: 50px;
  letter-spacing: inherit;
  line-height: inherit; }

.txt_head_12 {
  font-family: galileo_bold;
  font-size: 60px;
  letter-spacing: inherit;
  line-height: inherit; }

.txt_body_1,
.mk-edge-desc {
  font-family: galileo_regular;
  font-size: 28px;
  letter-spacing: 1px;
  line-height: inherit; }

.txt_body_2 {
  font-family: galileo_book;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: inherit; }

.txt_body_3 {
  font-family: galileo_book;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: inherit; }
  .txt_body_3 strong {
    font-family: galileo_bold; }

.txt_body_4 {
  font-family: galileo_regular;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: inherit; }

.txt_body_5 {
  font-family: galileo_regular;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: inherit; }

.txt_body_6 {
  font-family: galileo_regular;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: inherit; }

.txt_body_7 {
  font-family: galileo_bold;
  font-size: 22px;
  letter-spacing: inherit;
  line-height: inherit; }

.txt_body_8 {
  font-family: quicksand_bold;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: inherit; }

.txt_body_9 {
  font-family: galileo_bold;
  font-size: 22px;
  letter-spacing: inherit;
  line-height: inherit; }

.txt_body_10 {
  font-family: galileo_bold;
  font-size: 22px;
  letter-spacing: inherit;
  line-height: inherit; }

.txt_body_11 {
  font-family: galileo_bold;
  font-size: 26px;
  letter-spacing: inherit;
  line-height: inherit; }

.txt_body_12 {
  font-family: galileo_bold;
  font-size: 16px;
  letter-spacing: inherit;
  line-height: inherit; }

.txt_body_13 {
  font-family: galileo_bold;
  font-size: 22px;
  letter-spacing: inherit;
  line-height: inherit; }

.txt_body_14 {
  font-family: galileo_bold;
  font-size: 22px;
  letter-spacing: inherit;
  line-height: inherit; }

.txt_num_1 {
  font-family: quicksand_bold;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 42px; }

.txt_num_2 {
  font-family: campton_bold;
  font-size: 100px;
  letter-spacing: inherit;
  line-height: inherit; }

.txt_num_3 {
  font-family: galileo_bold;
  font-size: 22px;
  letter-spacing: 2px;
  line-height: inherit; }

.txt_num_4 {
  font-family: quicksand_bold;
  font-size: 32px;
  letter-spacing: 1px;
  line-height: 42px; }

.txt_quote_1 {
  font-family: galileo_book;
  font-size: 38px;
  letter-spacing: 1px;
  line-height: inherit; }

.txt_quote_2 {
  font-family: galileo_book;
  font-size: 48px;
  letter-spacing: 2px;
  line-height: inherit; }

.txt_quote_3 {
  font-family: galileo_book;
  font-size: 58px;
  letter-spacing: inherit;
  line-height: 65px; }

.txt_footer_head {
  font-family: campton_bold;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: initial; }

.txt_copy {
  font-family: campton_light;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: initial; }

.txt_dup_1 {
  font-family: galileo_bold;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: initial; }

.txt_dup_2 {
  font-family: galileo_book;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: initial; }

.txt_dup_3 {
  font-family: galileo_bold;
  font-size: 22px;
  letter-spacing: 0px;
  line-height: initial; }

.txt_dup_4 {
  font-family: galileo_book;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: initial; }

.txt_dup_5 {
  font-family: galileo_regular;
  font-size: 22px;
  letter-spacing: inherit;
  line-height: inherit; }

.txt_dup_6 {
  font-family: campton_bold;
  font-size: 20px;
  letter-spacing: inherit;
  line-height: inherit; }

.txt_dup_7 {
  font-family: campton_semibold;
  font-size: 16px;
  letter-spacing: inherit;
  line-height: inherit; }

.txt_pay_1 {
  font-family: galileo_book;
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 1.1em; }

.txt_pay_2 {
  font-family: galileo_regular;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: initial; }

.txt_pay_3 {
  font-family: campton_medium;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: initial; }

.txt_pay_4 {
  font-family: galileo_bold;
  font-size: 20px;
  letter-spacing: 0px;
  line-height: initial; }

.txt_pay_5 {
  font-family: galileo_regular;
  font-size: 22px;
  letter-spacing: 0px;
  line-height: initial; }

.txt_pay_6 {
  font-family: galileo_regular;
  font-size: 20px;
  letter-spacing: inherit;
  line-height: inherit; }

.txt_pay_7 {
  font-family: galileo_bold;
  font-size: 20px;
  letter-spacing: inherit;
  line-height: inherit; }

.txt_pay_8 {
  font-family: galileo_bold;
  font-size: 23px;
  letter-spacing: inherit;
  line-height: 1.1em; }

.txt_cp_1 {
  font-family: galileo_bold;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 26px; }

.txt_cp_2 {
  font-family: campton_medium;
  font-size: 36px;
  letter-spacing: 0px;
  line-height: initial; }

.txt_cp_3 {
  font-family: campton_medium;
  font-size: 26px;
  letter-spacing: 0px;
  line-height: initial; }

.txt_cp_4 {
  font-family: galileo_bold;
  font-size: 22px;
  letter-spacing: 0.5px;
  line-height: initial; }

.txt_cp_5 {
  font-family: galileo_bold;
  font-size: 26px;
  letter-spacing: 0px;
  line-height: initial; }

.txt_cp_6 {
  font-family: galileo_bold;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: initial; }

.txt_cm_1 {
  font-family: galileo_bold;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: initial; }

.txt_cm_2 {
  font-family: galileo_book;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: initial; }

.txt_cm_3 {
  font-family: galileo_bold;
  font-size: 22px;
  letter-spacing: 0.5px;
  line-height: initial; }

.txt_cm_4 {
  font-family: galileo_book;
  font-size: 22px;
  letter-spacing: 0px;
  line-height: initial; }

.txt_cm_5 {
  font-family: galileo_regular;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: initial; }

.txt_error_1 {
  font-family: galileo_regular;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: initial; }

.wrap_body .wrap_homepage .wrap_slider.homepage_sections .mk-edge-title div > span {
  padding-top: 0.3em;
  line-height: 50px; }

.wrap_contact header h1 {
  font-family: galileo_regular;
  font-size: 60px; }

.wrap_contact article div span {
  font-family: galileo_book;
  font-size: 28px; }

.wrap_contact .chat div strong {
  font-family: galileo_bold;
  font-size: 28px;
  font-weight: normal; }

.wrap_contact .address div {
  font-family: galileo_book;
  font-size: 22px; }

.wrap_contact .chat figure {
  background-image: url("../img/contact/04-chat-th.png"); }

.wrap_page_team #page-title {
  font-family: galileo_regular;
  font-size: 82px;
  line-height: 68px; }

.wrap_page_team #words {
  font-family: galileo_regular;
  font-size: 28px;
  letter-spacing: 1.5px;
  line-height: 1; }

@media (max-width: 450px) {
  html,
  .campaign_detail,
  .txt_default {
    font-family: galileo_book;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 1; }
  #header .hover_line:before {
    bottom: 0.8em; }
  .wrap_page_team #page-title {
    font-family: galileo_regular;
    font-size: 90px;
    line-height: 76px; }
  .wrap_page_team #words {
    letter-spacing: 2px; }
  .wrap_page_team .employee b {
    font-family: galileo_regular;
    font-size: 23px;
    line-height: 28px; }
  .txt_side_bar {
    font-family: galileo_regular;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: inherit; }
  .txt_btn_1 {
    font-family: galileo_bold;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: inherit; }
  .txt_btn_2 {
    font-family: quicksand_bold !important;
    font-size: 8px !important;
    letter-spacing: 1px !important;
    line-height: inherit; }
  .txt_btn_3,
  .btn_asiola {
    font-family: galileo_bold;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: inherit; }
  .txt_btn_4 {
    font-family: galileo_bold;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: inherit; }
  .txt_btn_5 {
    font-family: galileo_book;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: inherit; }
  .txt_btn_6 {
    font-family: galileo_bold;
    font-size: 22px;
    letter-spacing: inherit;
    line-height: inherit; }
  .txt_head_1,
  .mk-edge-title div > span {
    font-family: galileo_regular;
    font-size: 32px;
    letter-spacing: 2px;
    line-height: inherit; }
  .txt_head_2 {
    font-family: galileo_bold;
    font-size: 32px;
    letter-spacing: 2px;
    line-height: inherit; }
  .txt_head_3 {
    font-family: quicksand_bold !important;
    font-size: 10px !important;
    letter-spacing: 0 !important;
    line-height: inherit; }
  .txt_head_3_2 {
    font-family: galileo_bold;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: inherit; }
  .txt_head_4 {
    font-family: quicksand_bold;
    font-size: 24px;
    letter-spacing: 3px;
    line-height: inherit; }
  .txt_head_5 {
    font-family: campton_medium;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: inherit; }
  .txt_head_6 {
    font-family: campton_semibold;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: inherit; }
  .txt_head_7 {
    font-family: quicksand_bold;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: inherit; }
  .txt_head_8 {
    font-family: campton_light;
    font-size: 50px;
    letter-spacing: inherit;
    line-height: inherit; }
  .txt_head_9 {
    font-family: quicksand_bold;
    font-size: 38px;
    letter-spacing: inherit;
    line-height: inherit; }
  .txt_head_10 {
    font-family: campton_medium;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: inherit; }
  .txt_head_11 {
    font-family: campton_semibold;
    font-size: 50px;
    letter-spacing: inherit;
    line-height: inherit; }
  .txt_head_12 {
    font-family: galileo_bold;
    font-size: 60px;
    letter-spacing: inherit;
    line-height: inherit; }
  .txt_body_1,
  .mk-edge-desc {
    font-family: galileo_regular;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: inherit; }
  .txt_body_2 {
    font-family: galileo_book;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: inherit; }
  .txt_body_3 {
    font-family: galileo_book;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: inherit; }
    .txt_body_3 strong,
    .txt_body_3 b {
      font-family: galileo_bold; }
  .txt_body_4 {
    font-family: galileo_regular;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: inherit; }
  .txt_body_5 {
    font-family: galileo_regular;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1em; }
  .txt_body_6 {
    font-family: galileo_regular;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: inherit; }
  .txt_body_7 {
    font-family: galileo_bold;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: inherit; }
  .txt_body_8 {
    font-family: quicksand_bold;
    font-size: 14px;
    letter-spacing: inherit;
    line-height: inherit; }
  .txt_body_9 {
    font-family: galileo_bold;
    font-size: 18px;
    letter-spacing: inherit;
    line-height: inherit; }
  .txt_body_10 {
    font-family: galileo_bold;
    font-size: 22px;
    letter-spacing: inherit;
    line-height: inherit; }
  .txt_body_11 {
    font-family: galileo_bold;
    font-size: 26px;
    letter-spacing: inherit;
    line-height: inherit; }
  .txt_body_12 {
    font-family: galileo_bold;
    font-size: 16px;
    letter-spacing: inherit;
    line-height: inherit; }
  .txt_body_13 {
    font-family: galileo_bold;
    font-size: 22px;
    letter-spacing: inherit;
    line-height: inherit; }
  .txt_body_14 {
    font-family: galileo_bold;
    font-size: 20px;
    letter-spacing: inherit;
    line-height: inherit; }
  .txt_num_1 {
    font-family: quicksand_bold;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 42px; }
  .txt_num_2 {
    font-family: campton_bold;
    font-size: 100px;
    letter-spacing: inherit;
    line-height: inherit; }
  .txt_num_3 {
    font-family: galileo_bold;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: inherit; }
  .txt_num_4 {
    font-family: quicksand_bold;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 1; }
  .txt_quote_1 {
    font-family: galileo_book;
    font-size: 38px;
    letter-spacing: 1px;
    line-height: inherit; }
  .txt_quote_2 {
    font-family: galileo_book;
    font-size: 30px;
    letter-spacing: 2px;
    line-height: inherit; }
  .txt_quote_3 {
    font-family: galileo_book;
    font-size: 58px;
    letter-spacing: inherit;
    line-height: 65px; }
  .txt_footer_head {
    font-family: campton_bold;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: initial; }
  .txt_copy {
    font-family: campton_light;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: initial; }
  .txt_dup_1 {
    font-family: galileo_bold;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: initial; }
  .txt_dup_2 {
    font-family: galileo_book;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: initial; }
  .txt_dup_3 {
    font-family: galileo_bold;
    font-size: 24px;
    letter-spacing: 0px;
    line-height: initial; }
  .txt_dup_4 {
    font-family: galileo_book;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: initial; }
  .txt_dup_5 {
    font-family: galileo_regular;
    font-size: 20px;
    letter-spacing: inherit;
    line-height: inherit; }
  .txt_dup_6 {
    font-family: campton_bold;
    font-size: 20px;
    letter-spacing: inherit;
    line-height: inherit; }
  .txt_dup_7 {
    font-family: campton_semibold;
    font-size: 16px;
    letter-spacing: inherit;
    line-height: inherit; }
  .txt_pay_1 {
    font-family: galileo_book;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.1em; }
  .txt_pay_2 {
    font-family: galileo_regular;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: initial; }
  .txt_pay_3 {
    font-family: campton_medium;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: initial; }
  .txt_pay_4 {
    font-family: galileo_bold;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: initial; }
  .txt_pay_5 {
    font-family: galileo_regular;
    font-size: 24px;
    letter-spacing: 0px;
    line-height: initial; }
  .txt_pay_6 {
    font-family: galileo_regular;
    font-size: 18px;
    letter-spacing: inherit;
    line-height: inherit; }
  .txt_pay_7 {
    font-family: galileo_bold;
    font-size: 16px;
    letter-spacing: inherit;
    line-height: inherit; }
  .txt_pay_8 {
    font-family: galileo_bold;
    font-size: 25px;
    letter-spacing: inherit;
    line-height: 1.1em; }
  .txt_cp_1 {
    font-family: galileo_bold;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 22px; }
  .txt_cp_2 {
    font-family: campton_medium;
    font-size: 30px;
    letter-spacing: 0px;
    line-height: initial; }
  .txt_cp_3 {
    font-family: campton_medium;
    font-size: 22px;
    letter-spacing: 0px;
    line-height: initial; }
  .txt_cp_4 {
    font-family: galileo_bold;
    font-size: 24px;
    letter-spacing: 0px;
    line-height: initial; }
  .txt_cp_5 {
    font-family: galileo_bold;
    font-size: 26px;
    letter-spacing: 0px;
    line-height: initial; }
  .txt_cp_6 {
    font-family: galileo_bold;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: initial; }
  .txt_cm_1,
  .txt_cm_3 {
    font-family: galileo_bold;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 1; }
  .txt_cm_2,
  .txt_cm_5 {
    font-family: galileo_regular;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: initial; }
  .txt_cm_4 {
    font-family: galileo_book;
    font-size: 24px;
    letter-spacing: 0px;
    line-height: initial; }
  .txt_error_1 {
    font-family: galileo_regular;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: initial; }
  .header_menu_item {
    font-size: 20px; }
  .wrap_body .wrap_homepage .sections_title a {
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0); }
    .wrap_body .wrap_homepage .sections_title a .see_all {
      padding: 6px 7px 4px; }
  .wrap_body .wrap_homepage .wrap_slider.homepage_sections .mk-edge-title div > span {
    line-height: 38px;
    padding: 0.3em 4px 4px; }
  .wrap_body .wrap_homepage .wrap_slider.homepage_sections .mk-edge-desc {
    line-height: 26px;
    padding: 6px 4px; }
  .wrap_body .wrap_homepage .discover_section .discover_section_title {
    line-height: 1em; }
  .reward_item_cover .item_desc {
    font-family: galileo_book;
    font-size: 18px; }
  .reward_item_cover .interact_section .btn_asiola.default {
    font-family: galileo_bold;
    font-size: 22px; }
  .reward_item_cover .interact_section .hold {
    font-family: galileo_book;
    font-size: 14px; }
  .reward_item_cover .interact_section .custom .custom_amount_txt {
    font-family: galileo_book;
    font-size: 20px; }
  .interact_section .custom .contrib {
    font-family: galileo_regular; }
  .interact_section .custom .min,
  .interact_section .custom .error_msg {
    font-family: galileo_regular;
    font-size: 18px;
    color: #A0A0A0; } }

@media (max-width: 320px) {
  .header_menu_item {
    font-size: 18px; } }

/*# sourceMappingURL=th.css.map */
